.tab-arrow {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  font-size: 2rem;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }

  &.disabled {
    color: $disable-txt;
    pointer-events: none;
  }
}

.workspace_tab-list {
  max-width: calc(100% - 3rem);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.workspace_tab-list::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.workspace_tab {
  display: flex;
  align-items: center;

  flex: 1 1 16rem;
  padding-right: 0;
  margin-left: 1rem;

  &.bookmark_tab {
    margin-right: 0;
  }

  &.workspace_tab--disable {
    pointer-events: none;
  }
}

.tab_close {
  margin-right: 1.25rem;
  font-size: .5em;
  color: $bg-scroll;
  &:disabled {
    opacity: 0;
  }
}
.tab_name {
  margin-right: 1rem;
  flex: 1;

  width: 12rem;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tab_statistics {
  height: 100%;
  padding: .25em 1.7em;
  border-radius: 1rem 1rem 0 0;
  font-size: 1rem;
  min-width: auto;
  .icon {
    font-size: 1.2em;
  }
  &.tab--testing {
    border-left: 1px solid;
    margin-left: -1.25rem;
    padding-left: .8em;
    padding-right: .8em;
    margin-right: 0;
    &.active, &:hover {
      background: $color-10;
      color: $bg-toolbar;
    }
  }
}


.toggle-sidebar {
  z-index: 2;

  .btn--toolbar {
    height: 1.9em;
    width: 1.9em;
    font-size: 1.5714rem;
    background-color: $bg-toolbar;
    border-radius: 0;
  }
  .icon {
    @include multi-transition(transform)
  }
  &.hide-sidebar {
    .btn--toolbar .icon{
      transform: rotate(180deg);
    }
  }
}
