.workspace_tab {
  min-width: 16.7143em;
  display: flex;
  align-items: center;
  padding-right: 0;

  background-color: $bg-toolbar-2;
  border: 1px solid rgba(97, 133, 238, 0.2);
  border-top: 2px solid rgba(97, 133, 238, 0.2);
  border-radius: 2px 2px 0px 0px;

  &.workspace_tab--disable {
    pointer-events: none;
  }

  &.workspace_tab--active {
    border-top: 2px solid $color-6;
  }
}
.tab_close {
  margin-right: 1.25rem;
  font-size: .5em;
  color: $bg-scroll;
  &:disabled {
    opacity: 0;
  }
}
.tab_name {
  margin-right: 1rem;
  flex: 1;
}
.tab_statistics {
  height: 100%;
  padding: .25em 1.7em;
  border-radius: 1rem 1rem 0 0;
  font-size: 1rem;
  min-width: auto;
  .icon {
    font-size: 1.2em;
  }
  &.tab--testing {
    border-left: 1px solid;
    margin-left: -1.25rem;
    padding-left: .8em;
    padding-right: .8em;
    &.active, &:hover {
      background: $color-10;
      color: $bg-toolbar;
    }
  }
}


.toggle-sidebar {
  .btn--toolbar {
    height: 1.9em;
    width: 1.9em;
    font-size: 1.5714rem;
    background-color: $bg-toolbar;
    border-radius: 0;
  }
  .icon {
    @include multi-transition(transform)
  }
  &.hide-sidebar {
    .btn--toolbar .icon{
      transform: rotate(180deg);
    }
  }
}
