.tab-arrow {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  font-size: 2rem;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }

  &.disabled {
    color: $disable-txt;
    pointer-events: none;
  }

  &.right {
    margin-left: auto;
  }
}

.workspace_tab-list {
  max-width: calc(100% - 3rem);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.workspace_tab-list::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.workspace_tab {
  min-width: 12rem;
  display: flex;
  align-items: center;

  flex: 1 1 16rem;
  padding-right: 0;
  margin-right: 0.5rem;

  background-color: transparent;
  border: 1px solid $toolbar-separator-color;
  border-top: 1px solid $toolbar-separator-color;
  border-bottom: 0;
  border-radius: 2px 2px 0px 0px;
  
  cursor: pointer;

  &.workspace_tab--active_network, &.workspace_tab--active  {
    border-color: $color-6;
    border-top: 2px solid $color-6;
    background-color: $bg-toolbar-2;
  }

  &.workspace_tab--disable {
    pointer-events: none;
  }

  &.tab_statistics,
  &.tab_testing {
    padding: 0 2rem;
    // width: 12rem;
    display: flex;
    justify-content: space-around;
  }

  &.tab_icon {
    display: flex;
    justify-content: center;
    padding: 0;
    min-width: 0;
    width: 1rem;
    border-top: 1px solid $toolbar-separator-color;
    background-color: transparent;
  }

}

.tab_close {
  position: relative;

  margin-right: 1.25rem;
  font-size: .5em;
  color: $bg-scroll;
  &:disabled {
    opacity: 0;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.tab_name {
  margin-right: 1rem;
  flex: 1;

  width: 10rem;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tab_statistics {
  font-size: 1rem;
  .icon {
    font-size: 1.2em;
  }
  &.tab--testing {
    &.active, &:hover {
      background: $color-10;
      color: $bg-toolbar;
    }
  }
}

.unsaved-changes-indicator {
  height: 0.8rem;
  width: 0.8rem;

  border-radius: 50%;
  background-color: #E1E1E1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.hover {
    opacity: 0;
    transition: ease-out 0.7;
  }
}

.toggle-sidebar {
  z-index: 2;

  margin-left: auto;
  .btn--toolbar {
    height: 1.9em;
    width: 1.9em;
    font-size: 1.5714rem;
    background-color: $bg-toolbar;
    border-radius: 0;
  }
  .icon {
    @include multi-transition(transform)
  }
  &.hide-sidebar {
    .btn--toolbar .icon{
      transform: rotate(180deg);
    }
  }
}
