.title-box.d-flex
    .home-title RECENT FILES 
      span.title-box_projectscount ({{projects.length}})
    .filter-recent-files
      .i.icon.icon-filter 
      input(type="text" placeholder="Filter recent files" v-model="search")
    
ul.project-list.d-flex
  article.project-box
    button.project.add-new(@click="addProject")
      .project_ration
      .project_content
        i.icon.icon-zoom-plus
    h3 Add new project
  
  article.project-box(v-for="project in filteredProjects")
    button.project(@click="openProject")
      .project_ration
      .project_content
        .project_content-info.d-flex
          i.icon(:class="project.icon")
          span.content-info_status.primary(v-if="project.trained") Trained
          span.content-info_status.dark-blue(v-else) Not trained
    h3 {{project.name}}
    time.text-disable {{project.time}}

update-popup(
  :isShowPopup="updateShowPopup"
  @closedPopup="closePopup"
)