
# We could bump this up if we pay azure to allow us to run more self-hosted jobs
number_of_hosts: 1

ec2_region: us-east-2
disk_gb: 100
instance_type: m5.xlarge
image: ami-02aa7f3de34db391a # Ubuntu 18.04 # TODO: this recently stopped being able to build NVIDIA drivers

# constants for Ubuntu 18.04
ansible_user: ubuntu
python3: /usr/bin/python3
pip3: /usr/bin/pip3


tags:
  azure-pipeline-worker: 1

# Our AWS account has a security group named modeling which lets through the right ports for the tool
security_group: azure-pipeline-worker
agent_version: 2.182.1
agent_package: "https://vstsagentpackage.azureedge.net/agent/{{ agent_version }}/vsts-agent-linux-x64-{{ agent_version }}.tar.gz"
azure_project_url: https://dev.azure.com/PerceptiLabs
pool_name: Docker Build
agent_name: docker-build-agent
work_dir: agent/_work
agent_python: "{{ work_dir }}/_tool/Python"
python_versions:
  - 3.6.9
  - 3.6
  - 3
ansible_ssh_private_key_file: ~/Downloads/aws/jon.pem
