.btn {
  padding: 0;
  text-decoration: none;
  border-radius: $bdrs;
  background-color: transparent;

  span + .icon,
  .icon + span {
    margin-left: 1rem;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }
}

.btn--primary {
  font-size: 1.2rem;
  font-weight: bold;
  color: $col-txt2;
  overflow: hidden;
  min-width: 9rem;
  height: 3rem;
  padding: .5em;
  text-align: center;
  text-overflow: ellipsis;
  background: $bg-grad-cyan;

  &.disable {
    background: linear-gradient(#489671, #337a7f);
  }
}

.btn--link {
  padding: 0;
  background-color: transparent;
}

.btn--icon {
  padding: 3px;
  background-color: transparent;

  &:hover {
    //text-shadow: hoff voff blur #000;
  }
}

.btn--toolbar {
  font-size: 1.375em;
  color: $col-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6363em;
  height: 1.6363em;
  border-radius: 3px;
  background-color: transparent;

  &:hover,
  &.active {
    background-color: $bg-workspace-2;
    text-shadow: $icon-shad;
  }

  &:active {
    box-shadow: $icon-shad;
  }

  &:disabled {
    opacity: .25;
    cursor: default;
  }
}

//.btn--settings {
//  background: $bg-window;
//  color: $white;
//  font-size: 1.2em;
//  padding: .65em .8em;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  min-width: 11rem;
//  &:hover,
//  &.active {
//    background: $bg-grad-blue;
//    box-shadow: $icon-shad;
//  }
//  &.disable {
//    background: linear-gradient(#515972 , #5D698D );
//    color: #727EA6;
//  }
//}

.btn--layersbar {
  color: $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-layers-btn);
  height: var(--size-layers-btn);

  .icon {
    font-size: 3.8rem;
    text-shadow: $icon-shad;
  }

  &[disabled] {
    opacity: .5;
  }
}

.btn--tabs {
  font-size: 1.2em;
  color: $disable-txt;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 11rem;
  padding: .65em .5em;
  background: $bg-grad-disable;

  &:hover,
  &.active {
    color: $white;
    background: $bg-grad-blue;
    box-shadow: $icon-shad;
  }
}

.btn--dark-blue {
  @extend .btn--tabs;

  background: $bg-window;
}

.btn--dark-blue-rev {
  @extend .btn--dark-blue;

  color: $white;
  transition: none;
  background: $bg-grad-blue;

  &:hover,
  &.active {
    color: $disable-txt;
    background: $bg-window;
  }

  &.active {
    box-shadow: none;
  }
}

.btn--color {
  font-size: 1.2em;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 11rem;

  &__purpur {
    height: 24px;
    background: linear-gradient(180deg, #e273fe 0%, #b061ee 100%);
  }
}

//
//.btn--social-login {
//  @include multi-transition (color, background-color, border-color);
//  height: $input-height;
//  border: $default-border;
//  color: inherit;
//  text-transform: capitalize;
//  padding: 4px 0;
//  margin: 0 0 $input-holder-margin;
//  display: inline-block;
//  vertical-align: middle;
//  width: 100%;
//  min-width: 180px;
//  background: transparent;
//  .fa {
//    display: inline-block;
//    vertical-align: middle;
//    position: relative;
//    height: 100%;
//    width: 38px;
//    border-right: 1px solid rgba(#000, .25);
//    &:before {
//      position: absolute;
//      left: 50%;
//      top: 50%;
//      transform: translate(-50%, -50%);
//    }
//  }
//  span {
//    display: inline-block;
//    vertical-align: middle;
//    text-align: center;
//    white-space: nowrap;
//    width: calc(100% - 38px);
//    padding: 0 8px;
//  }
//  &:hover {
//    background: $col-primary;
//    color: $white;
//    border-color: $col-primary;
//  }
//  &.facebook-bg {
//    color: $white;
//  }
//.reg-social-inner & {
//  width: calc(50% - 5px);
//  margin-left: 2.5px;
//  margin-right: 2.5px;
//  //color: $white;
//  //color: $txt-registry;
//  color: $orange;
//  background-color: #fff;
//  border-color: currentColor;
//  .fa {
//    border-color: currentColor;
//  }
//  &:hover {
//    background: $orange;
//    color: $white;
//    border-color: $orange;;
//  }
//}
//}
