.btn {
  @include multi-transition (color, background-color);
  text-decoration: none;
  border-radius: $bdrs;
  padding: 0;
}
.btn--primary {
  color: $col-txt2;
  background: $bg-grad-cyan;
  height: 3rem;
  min-width: 9rem;
  padding: .5em;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  &.disable {
    background: linear-gradient(#489671 , #337A7F );
  }
}
.btn--link {
  background-color: transparent;
  padding: 0;
}
.btn--icon {
  background-color: transparent;
  padding: 3px;
  &:hover {
    //text-shadow: hoff voff blur #000;
  }
}
.btn--toolbar {
  height: 1.6363em;
  width: 1.6363em;
  border-radius: 3px;
  line-height: 1.6363em;
  text-align: center;
  background-color: transparent;
  //font-size: 1.375em;
  font-size: 1.375em;
  color: $col-primary;
  &:hover {
    text-shadow: $icon-shad;
    background-color: $bg-workspace-2;
  }
  &:active {
    box-shadow: $icon-shad;
  }
}
.btn--settings {
  background: linear-gradient(#7397FE , #6185EE);
  color: $white;
  font-size: 1.2em;
  padding: .65em .8em;
  display: flex;
  align-items: center;
  &:after {
    content: '';
    display: block;
    height: 1.15em;
    width: 1.15em;
    min-width: 1.15em;
    border-radius: 50%;
    background-color: currentColor;
    margin-left: .9em;
  }
  &.disable {
    background: linear-gradient(#515972 , #5D698D );
    color: #727EA6;
  }
}
.btn--layersbar {
  height: $size-layers-btn;
  width: $size-layers-btn;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  .icon {
    text-shadow: $icon-shad;
    //font-size: 3rem;
    font-size: 3.8rem;
  }
}
//
//.btn--social-login {
//  @include multi-transition (color, background-color, border-color);
//  height: $input-height;
//  border: $default-border;
//  color: inherit;
//  text-transform: capitalize;
//  padding: 4px 0;
//  margin: 0 0 $input-holder-margin;
//  display: inline-block;
//  vertical-align: middle;
//  width: 100%;
//  min-width: 180px;
//  background: transparent;
//  .fa {
//    display: inline-block;
//    vertical-align: middle;
//    position: relative;
//    height: 100%;
//    width: 38px;
//    border-right: 1px solid rgba(#000, .25);
//    &:before {
//      position: absolute;
//      left: 50%;
//      top: 50%;
//      transform: translate(-50%, -50%);
//    }
//  }
//  span {
//    display: inline-block;
//    vertical-align: middle;
//    text-align: center;
//    white-space: nowrap;
//    width: calc(100% - 38px);
//    padding: 0 8px;
//  }
//  &:hover {
//    background: $col-primary;
//    color: $white;
//    border-color: $col-primary;
//  }
//  &.facebook-bg {
//    color: $white;
//  }
  //.reg-social-inner & {
  //  width: calc(50% - 5px);
  //  margin-left: 2.5px;
  //  margin-right: 2.5px;
  //  //color: $white;
  //  //color: $txt-registry;
  //  color: $orange;
  //  background-color: #fff;
  //  border-color: currentColor;
  //  .fa {
  //    border-color: currentColor;
  //  }
  //  &:hover {
  //    background: $orange;
  //    color: $white;
  //    border-color: $orange;;
  //  }
  //}
//}
