// adaptive images
ul[class] {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

* {
	&:not([draggable='true']) {
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;

		-webkit-user-drag: none;
		        user-drag: none;
		-webkit-touch-callout: none;
	}
	&:active,
	&:focus {
		outline: none;
	}
}

::selection {
	background-color: transparent;
}

//----------------------------------
// SCROLL
//----------------------------------
$scroll-width: 6px;
::-webkit-scrollbar-track {
	&:hover {
		background-color: rgba(#fff, .1);
	}
}
::-webkit-scrollbar {
	width: $scroll-width;
	&:horizontal {
		height: $scroll-width;
	}
}
::-webkit-scrollbar-corner {
	display: none;
}
::-webkit-scrollbar-thumb {
	border-radius: $scroll-width/2;
	background-color: rgba($bg-scroll, .5);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	&:hover {
		background-color: rgba($bg-scroll, 1);
	}
	&:window-inactive {
		background-color: rgba($bg-scroll, .2);
	}
}
