

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
input[type='number'],
textarea {
  @include multi-transition (border-color);
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-width: 30px;
  height: $input-height;
  padding: .45rem;
  border: none;
  box-shadow: none;
  text-overflow: ellipsis;
  font-size: inherit;
  background-color: #5B657B;
  //color: $placeholder;

  @include placeholder {
    color: $col-placeholder;
  }

}

//input[type='number'] {
//  -moz-appearance: textfield;
//  &:-webkit-outer-spin-button,
//  &:-webkit-inner-spin-button {
//    -webkit-appearance: none;
//    -moz-appearance: none;
//    margin: 0;
//  }
//}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor:pointer;
  display:block;
  width:8px;
  color: #333;
  text-align:center;
  position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  content: "^";
  position: absolute;
  right: 0;
  width: 10px;
  height: 5px;
  font-family:monospace;
  color: #333;
  background-color: #333;
}

input[type=number]::-webkit-inner-spin-button:before {
  top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
  bottom:0px;
  -webkit-transform: rotate(180deg);
}

select {
  border: $default-border;
  border-radius: 0;
  width: 100%;
  color: $col-txt;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28127, 127, 127%29"></polygon></svg>');
  background-size: 9px 6px;
  background-position: right center;
  background-origin: content-box;
  background-repeat: no-repeat;
  height: $input-height;
  padding: .45rem;
}

textarea {
  color: $col-txt;
  resize: vertical;
  vertical-align: top;
  min-height: $input-height*2;
}

input,
select,
textarea {
  &:focus {
    outline: none;
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  @include multi-transition (color, background-color, border-color);
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
}




//
//.input-holder {
//  display: block;
//  width: 100%;
//  margin-bottom: $input-holder-margin;
//}
//
//.input-label {
//  display: inline-block;
//  margin-bottom: 3px;
//  font-weight: normal;
//  &.error {
//    outline: 2px solid $col-error;
//  }
//}
//
//.input_link {
//  @include media('>=medium') {
//    position: absolute;
//    padding: 5px;
//    right: 10px;
//    top: 50%;
//    transform: translateY(-50%);
//    text-decoration: none;
//  }
//}
//
//.form-row {
//  @include media('>=medium') {
//    display: flex;
//    margin: 0 -5px;
//    .input-holder {
//      padding: 0 5px;
//    }
//    .form-row .input-holder {
//      margin-bottom: 0;
//    }
//  }
//}
//
//.form_error-message {
//  width: 100%;
//  background-color: $col-error;
//  color: $white;
//  font-size: .875em;
//  padding: 10px 5px;
//  text-align: center;
//  font-weight: normal;
//  margin-top: .5em;
//}
//
//.form_notate {
//  text-align: right;
//  &.notate--left {
//    text-align: left;
//  }
//  .fa {
//    color: $col-primary;
//  }
//  strong {
//    color: $col-page_title;
//    font-weight: normal;
//  }
//}
//
//.limit-counter {
//  text-align: right;
//}
