section.basic-templates_templates
  .page-projects_title
    h2 Basic templates
  ul.template-list
    button.template(type="button"
      v-for="(temp, i) in basicTemplates"
      :key="temp.i"
      @click="openBasicTemplate(temp.template)"
      )
      img(:src="temp.imgPath" alt="classification")
      span.template_title {{ temp.title }}
    
section.basic-templates_crash-course
  .page-projects_title
    h2 Ai crash course
  .crash-course_elements 
    .elements_model
      .model_icon-box.i.icon.icon-data.icon-box--outline
      .model_arrow.icon.icon-layer-arrow1
      .model_icon-box.i.icon.icon-round
    span.template_title Learn the basics.
    button.btn.btn--crash-course(type="button") Begin Tutorial