$popper-background-color: rgba(#4d556a, .9);
$arrow-size: 1rem;
$margin-tooltip: .65rem;

.tooltip-wrap{
	position: relative;
	&:hover .tooltip {
		transition: transform .1s .5s;
		&.tooltip--right{
			transform: translateY(-50%) rotateY(0deg);
		}
		&.tooltip--bottom{
			transform: translate(-50%, 0%) rotateY(0deg);
		}
	}
}

.tooltip {
	position: absolute;
	transform: translate(-50%, 0%) rotateY(90deg);
	z-index: 100;
	min-width: 3rem;
	max-width: 30rem;
	padding: .8rem .6rem;
	border-radius: $bdrs;
	background-color: $popper-background-color;
	box-shadow: $icon-shad;
	white-space: nowrap;
	font-size: 1rem;
	color: $col-txt;

	&:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		margin-right: 0;
		margin-left: 0;
		border: $arrow-size solid transparent;
	}
}

.tooltip--right{
	left: 100%;
	top: 50%;
	margin-left: $margin-tooltip;
	transform: translateY(-50%) rotateX(90deg);

	&:before {
		top: 50%;
		transform: translateY(-50%);
		right: 100%;
		border-right: $arrow-size solid $popper-background-color;
	}
}
.tooltip--bottom{
	left: 50%;
	top: 100%;
	margin-top: $margin-tooltip;
	transform: translate(-50%, 0%) rotateY(90deg);

	&:before {
    top: -50%;
    transform: translate(50%,50%);
    right: 50%;
		border-bottom: $arrow-size solid $popper-background-color;
	}
}

