$popper-background-color: rgba(#4d556a, .9);
$arrow-size: 1rem;
$margin-tooltip: .65rem;

.tooltip-wrap{
	position: relative;
	&:hover .tooltip {
		transition: transform .1s .5s;
	}
}

.tooltip-wrap.right {
	&:hover .tooltip {
		transform: translateY(-50%) rotateY(0deg);
	}
}
.tooltip-wrap.bottom {
	&:hover .tooltip {
		transform: translate(-50%, 0%) rotateY(0deg);
	}
}

.tooltip-wrap.right .tooltip{
	left: 100%;
	top: 50%;
	margin-left: $margin-tooltip;
	transform: translateY(-50%) rotateX(90deg);

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		width: 0;
		height: 0;
		transform: translateY(-50%);
		border-style: solid;
		right: 100%;
		margin-right: 0;
		margin-left: 0;
		border-width: $arrow-size $arrow-size $arrow-size 0;
		border-color: transparent;
		border-right-color: $popper-background-color;
	}
}
.tooltip-wrap.bottom .tooltip{
	left: 50%;
	top: 100%;
	margin-top: $margin-tooltip;
	transform: translate(-50%, 0%) rotateY(90deg);

	&:before {
		content: '';
		position: absolute;
    top: -50%;
    width: 0;
    height: 0;
    transform: translate(50%,50%);
    border-style: solid;
    right: 50%;
    margin-right: 0;
    margin-left: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid transparent;
		border-bottom: 5px solid black;
	}
}
.tooltip {
	position: absolute;
	transform: translate(-50%, 0%) rotateY(90deg);
	z-index: 100;
	min-width: 3rem;
	max-width: 30rem;
	padding: .8rem .6rem;
	border-radius: $bdrs;
	background-color: $popper-background-color;
	box-shadow: $icon-shad;
	white-space: nowrap;
	font-size: 1rem;
	color: $col-txt;

	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 50%;
	// 	width: 0;
	// 	height: 0;
	// 	transform: translateY(-50%);
	// 	border-style: solid;

	// 	right: 100%;
	// 	margin-right: 0;
	// 	margin-left: 0;

	// 	border-width: $arrow-size $arrow-size $arrow-size 0;
	// 	border-color: transparent;
	// 	border-right-color: $popper-background-color;
	// }
	//&[x-placement^='top'] {
	//	margin-bottom: $margin-tooltip;
	//
	//	.tooltip-arrow {
	//		bottom: 100%;
	//		margin-top: 0;
	//		margin-bottom: 0;
	//		border-width: $arrow-size $arrow-size 0 $arrow-size;
	//		border-top-color: $popper-background-color;
	//		border-right-color: transparent !important;
	//		border-bottom-color: transparent !important;
	//		border-left-color: transparent !important;
	//	}
	//}
	//
	//&[x-placement^='bottom'] {
	//	margin-top: $margin-tooltip;
	//
	//	.tooltip-arrow {
	//		top: 100%;
	//		margin-top: 0;
	//		margin-bottom: 0;
	//		border-width: 0 $arrow-size $arrow-size $arrow-size;
	//		border-top-color: transparent !important;
	//		border-right-color: transparent !important;
	//		border-bottom-color: $popper-background-color;
	//		border-left-color: transparent !important;
	//	}
	//}
	//
	//&[x-placement^='right'] {
	//	margin-left: $margin-tooltip;
	//
	//	.tooltip-arrow {
	//		right: 100%;
	//		margin-right: 0;
	//		margin-left: 0;
	//		border-width: $arrow-size $arrow-size $arrow-size 0;
	//		border-top-color: transparent !important;
	//		border-right-color: $popper-background-color;
	//		border-bottom-color: transparent !important;
	//		border-left-color: transparent !important;
	//	}
	//}
	//
	//&[x-placement^='left'] {
	//	margin-right: $margin-tooltip;
	//
	//	.tooltip-arrow {
	//		left: 100%;
	//		margin-right: 0;
	//		margin-left: 0;
	//		border-width: $arrow-size 0 $arrow-size $arrow-size;
	//		border-top-color: transparent !important;
	//		border-right-color: transparent !important;
	//		border-bottom-color: transparent !important;
	//		border-left-color: $popper-background-color;
	//	}
	//}
}
