#Backend ignores
backend/*.pyc
backend/*.pyo
**/__pycache__/
*.pyc
*.py~
*#*#
backend
#Frontend ignores
frontend/.DS_Store
frontend/dist/*
frontend/dist/electron/*
frontend/dist/web/*
frontend/build/*
!frontend/build/icons
frontend/node_modules/
frontend/npm-debug.log
frontend/npm-debug.log.*
frontend/thumbs.db
!frontend/.gitkeep
.idea
.idea/*
.idea/workspace.xml
../.idea/workspace.xml
frontend/core/*
.vscode/*

.local_gitignore
