#Backend ignores
backend/*.pyc
backend/*.pyo
backend/__pycache__/
#Frontend ignores
frontend/.DS_Store
frontend/dist/*
frontend/dist/electron/*
frontend/dist/web/*
frontend/build/*
!frontend/build/icons
frontend/node_modules/
frontend/npm-debug.log
frontend/npm-debug.log.*
frontend/thumbs.db
!frontend/.gitkeep
frontend/.idea
frontend/.idea/*
frontend/.idea/workspace.xml
frontend/../.idea/workspace.xml
frontend/core/*
frontend/core_local/*
frontend/.vscode/*