$paddingBlocks: 3rem;
$distance: 5rem;
$colorGreen: #22DDE5;
$colorGrey: #727272;

.home-title-box {
  margin-bottom: $distance;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title-box_projectscount {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
}
.home-menu-name {
  display: block;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.page_basic-templates {
  grid-area: basic-templates;
  background: $bg-workspace;
  display: flex;
  padding: $distance 0;
  border-bottom: 1px solid $colorGrey;
  margin: 0 $distance;
}
.basic-templates_templates {
  border-right: 1px solid $colorGrey;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.tempates_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.tempates_menu-btn {
  background: none;
  text-align: center;
}
.basic-templates_crash-course {
  flex-grow: 1;
  padding: 0 $paddingBlocks;
  display: flex;
  flex-direction: column;
  
}
.crash-course_elements {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.elements_model {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  align-items: center;
}
.model_icon-box {
  border: 1px solid $colorGreen;
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  &.icon-box--outline {
    box-shadow:inset 0 0 5px 1px #8B8B9C;
  }
}
.model_arrow {
  width: 4rem;
  height: 2px;
  background: $colorGreen;
  position: relative;
  &:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: $colorGreen;
  }
  &:after {
    content: '';
    width: 1rem;
    height: 1rem;
    border: 2px solid $colorGreen;
    background: $white;
    position: absolute;
    left: -0.5rem;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 0.5rem;
  }
}

.elements_btn-box {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  span {
    margin-bottom: 1.5rem;
  }
}
.blue-border-btn {
  font-size: 1.5rem;
  font-weight: 500;
  background: $col-txt2;
  padding: 0.7rem 2.5rem;
  border: 1px solid $login-blue;
  border-radius: 2rem;
}