section.basic-templates_templates
  .home-title-box
    h2 Basic templates
  ul.tempates_menu
    button(type="button" @click="openTemplateModel(templateModels.path_1)").tempates_menu-btn
      img(src="~@/assets/imageClassification.svg"   alt="classification")
      span.home-menu-name Image Classification
    button(type="button" @click="openTemplateModel(templateModels.path_2)").tempates_menu-btn
      img(src="~@/assets/timeSeriesRegression.svg"  alt="time series regression")
      span.home-menu-name Timeseries Regression
    button(type="button" @click="openTemplateModel(templateModels.path_3)").tempates_menu-btn
      img(src="~@/assets/reinforcementLearning.svg" alt="reinforce ment learning")
      span.home-menu-name Reinforcement Learning
    
section.basic-templates_crash-course
  .home-title-box
    h2 Basic templates
  .crash-course_elements 
    .elements_model
      .model_icon-box.i.icon.icon-data.icon-box--outline
      .model_arrow.icon.icon-layer-arrow1
      .model_icon-box.i.icon.icon-round
    .elements_btn-box
      span.home-menu-name Learn the basics.
      button(type="button").blue-border-btn Begin Tutorial
      

   


