.basic-templates_templates
  .home-title Basic templates
  ul.tempates_menu
    li
      button(type="button").tempates_menu-btn
        img(src="~@/assets/imageClassification.svg"   alt="classification")
        span.home-menu-name Image Classification
    li 
      button(type="button").tempates_menu-btn
        img(src="~@/assets/timeSeriesRegression.svg"  alt="time series regression")
        span.home-menu-name Timeseries Regression
    li
      button(type="button").tempates_menu-btn
        img(src="~@/assets/reinforcementLearning.svg" alt="reinforce ment learning")
        span.home-menu-name Reinforcement Learning
    
.basic-templates_crash-course
  .home-title AI crash course
  .crash-course_elements 
    .elements_model
      .model_icon-box.i.icon.icon-data.icon-box--outline
      .model_arrow.icon.icon-layer-arrow1
      .model_icon-box.i.icon.icon-round
    .elements_btn-box
      span.home-menu-name Learn the basics.
      button(type="button").blue-border-btn Begin Tutorial
      

   


