.login_form {
  font-size: 1.6rem;
  padding-top: 5.5rem;

  .form_holder {
      margin-bottom: 2rem;
  }

  input {
    border: 1px solid $login-blue;
    background: $bg-window;
    height: 5.2rem;

    border-radius: $bdrs;
  }

  .checkbox-fake {
      border-radius: $bdrs;
  }

  .btn {
    font-size: inherit;
  }
  .btn--dark-blue-rev {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .btn--link, .btn--link-without-underline {
      color: $login-blue;
      text-decoration: underline;
      text-decoration-skip: ink;
      &:hover {
          text-decoration: none;
      }
  }
  .btn--link-without-underline {
      text-decoration: none;
      &:hover {
          text-decoration: underline;
      }
  }
}
.login-form_actions {
  margin-top: 7rem;
  .form_row {
    justify-content: space-between;
  }
}

