.workspace_scale()
  button.btn.btn--icon.workspace-scale_btn(type="button" @click="decScale()" disabled="disabled")
    i.icon.icon-minus

  .input-wrap_icon.workspace-scale_input
    input(type="text" v-model.number="scale")
    span %

  button.btn.btn--icon.workspace-scale_btn(type="button" @click="incScale()" disabled="disabled")
    i.icon.icon-zoom-plus

  base-checkbox(:iconTheme="true") Map
.workspace_meta-action
  button.btn.btn--color.btn--color__purpur(type="button" disabled="disabled"
  v-if="statisticsIsOpen && coreStatus == 'Finished'"
  @click="saveModel"
  ) Extract Data
