$indentProjects: 1rem;
$iconsGroupColor: #5c6680;

.page_workspace {
	padding: 4rem 3rem 0 3rem;
	background: $bg-workspace;

	grid-area: workspace;
	.title-box {
		justify-content: space-between;
		margin-bottom: 4rem;
		.title-box_projectscount {
			font-size: 1.2rem;
		}
	}
}
.project-list {
	flex-wrap: wrap;
	margin: 0 -$indentProjects;
	text-align: center;
}
.project-box {
	margin: $indentProjects;
	&.add-new .project_content {
		display: flex;
	}
	time {
		color: $disable-txt;
	}
  margin: $indentProjects;

  &.add-new .project_content {
    display: flex;
  }
}
.project {
  background: $col-txt2;
  margin-bottom: 1rem;
  position: relative;
  width: 20rem;

  &:hover {
    box-shadow: 0 0 0 1px $disable-txt;
  }

  &.active {
    box-shadow: 0 0 0 2px $col-txt;
  }

  &.add-new .project_content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg-toolbar;
    font-size: 9rem;
    text-shadow: none;
  }
}

.project_ration {
  padding-top: 100%
}
.project_content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.project_content-info {
	justify-content: space-between;
	padding: 1rem;
	.icon {
		font-size: 2rem;
	}
}
.content-info_status {
  margin-right: -1rem;
  min-width: 7rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .44em;

  &.primary {
    background: $bg-grad-cyan;
    color: $col-txt2;
  }

  &.dark-blue {
    background: $bg-grad-blue;
    color: $col-txt;
  }
}

.btn--blue-border {
  font-size: 1.4rem;
  border-radius: 2rem;
  border: 0.2rem solid #7397fe;
  padding: 1rem 3rem;
  &:hover {
    background: #7397fe;
  }
}
