.btn {
  padding: 0;
  text-decoration: none;
  border-radius: $bdrs;
  background-color: transparent;

  span + .icon,
  .icon + span {
    margin-left: 0.5rem;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }
  &:focus {
    //opacity: .9;
  }
}

.btn--primary {
  font-size: 1.2rem;
  font-weight: bold;
  color: $col-txt2;
  //min-width: 9rem;
  //height: 3rem;

  min-width: 7rem;
  padding: .5em;
  text-align: center;
  text-overflow: ellipsis;
  background: $bg-grad-cyan;
  &.disable {
    background: linear-gradient(#489671, #337a7f);
  }
}

.btn--link {
  padding: 0;
  background-color: transparent;
}

.btn--icon {
  padding: 3px;
  background-color: transparent;
}

.btn--toolbar {
  font-size: 1.375em;
  color: $col-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6363em;
  height: 1.6363em;
  border-radius: 3px;
  background-color: transparent;

  &:hover,
  &.active {
    background-color: $bg-workspace-2 !important;
  }

  &:active {
    box-shadow: $icon-shad;
  }

  &:disabled {
    opacity: .25;
    cursor: default;
  }
}

.btn--layersbar {
  color: $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  //font-size: var(--size-layers-btn);
  font-size: 1rem;
  width: 6em;
  height: 6em;
  &[draggable="true"] {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  .icon {
    font-size: 3.3em;
    text-shadow: $icon-shad;
  }

  &[disabled] {
    opacity: .5;
  }
}

.btn--tabs {
  font-size: 1.2rem;
  color: $disable-txt;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  padding: .65rem .5rem;
  background: $bg-grad-disable;

  &:hover,
  &.active {
    color: $white;
    background: $bg-grad-blue;
    box-shadow: $icon-shad;
  }
  .statistics-box--horizontally & {
    min-width: 14rem;
  }
}

.btn--dark-blue {
  @extend .btn--tabs;
  background: $bg-window;
}
.btn--dark {
  @extend .btn--tabs;
  background: $bg-grad-black;
  color: $white;
  transition: none;
  min-width: 4rem;
  padding: 0.7rem;
  &:hover {
    background: $color-11;
  }
  &.green-status {
    .icon {
      color: $color-1;
    }
  }
}

.btn--dark-blue-rev {
  @extend .btn--dark-blue;
  color: $white;
  transition: none;
  background: $bg-grad-blue;
  min-width: 7rem;
  &:hover,
  &.active {
    color: $disable-txt;
    background: $bg-window;
  }
  &.active {
    box-shadow: none;
  }
  &.green-status {
    .icon {
      color: $color-1;
    }
  }
}

.btn--color {
  font-size: 1.2rem;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 11rem;

  &__purpur {
    height: 24px;
    background: linear-gradient(180deg, #e273fe 0%, #b061ee 100%);
  }
}

.btn--outline-blue {
  font-size: 1.5rem;
  background: $col-txt2;
  padding: .7rem 2.5rem;
  border: 1px solid $login-blue;
  border-radius: 2rem;
  color: inherit;
  &:hover {
    background: $bg-grad-blue;
  }
}

.btn--outline-blue-rev {
  @extend .btn--outline-blue;
  background: $bg-grad-blue;
  &:hover {
    background: $col-txt2;
  }
}

.btn--disabled {
  background: $bg-scroll;
}

.green-color-icon{
  color: $color-1;
}

.btn-info-popup {
  background: $bg-workspace;
  border: 1px solid #495163;
  box-shadow: 0 0 3px #7195FC;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.4rem 1rem;
}
