// adaptive images
ul[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul:not([class]):not([id]) {
  padding-left: 1.5em;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

* {
	&:not([draggable='true']) {
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;

		-webkit-user-drag: none;
		        user-drag: none;
    -webkit-touch-callout: none;

    input {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

	&:active,
	&:focus {
		outline: none;
	}
}

::selection {
	//background-color: transparent;
}

//----------------------------------
// SCROLL
//----------------------------------
$scroll-width: 6px;
.is-electron {
  ::-webkit-scrollbar-track {
    &:hover {
      background-color: rgba(#fff, .1);
    }
  }
  ::-webkit-scrollbar {
    width: $scroll-width;
    &:horizontal {
      height: $scroll-width;
    }
  }
  ::-webkit-scrollbar-corner {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: $scroll-width/2;
    background-color: rgba($bg-scroll, .5);
    box-shadow: 0 0 6px rgba(#000, .3);
    &:hover {
      background-color: rgba($bg-scroll, 1);
    }
    &:window-inactive {
      background-color: rgba($bg-scroll, .2);
    }
  }

}
