/* ---------------------------------------------------------
  1. Hide/show block
      When user is login
      Breakpoints
  2. Text decoration
  3. Width
   ---------------------------------------------------------*/


/* ---------------------------------------------------------
   1. Hide/show block
   ---------------------------------------------------------*/


/*----- Breakpoints -----*/
  // EXAMPLE
  //
  //.medium-hide {
  //  @include media('>=medium') {
  //    display: none;
  //  }
  //}
  //
  //.medium-show {
  //  @include media('<medium') {
  //    display: none;
  //  }
  //}

@each $name, $size in $breakpoint {
  .#{$name}-hide {
    @include media('>=#{$name}') {
      display: none !important;
    }
  }

  .#{$name}-show {
    @include media('<#{$name}') {
      display: none !important;
    }
  }
}


/*----- Breakpoints foundation Visibility-----*/
// Basic hiding classes
.hide {
  display: none !important;
}

.invisible {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

// Responsive visibility classes
@each $name, $size in $breakpoint {
  @if $name != small {
    .hide-for-#{$name} {
      @include media('>=#{$name}') {
        display: none !important;
      }
    }

    .show-for-#{$name} {
      @include media('<#{$name}') {
        display: none !important;
      }
    }
  }
}

$prevBreakPoint: 'large';
@each $name, $size in $breakpoint {
  @if $name != large {
    .hide-for-#{$name}-only {
      @include media('>=#{$name}', '<#{$prevBreakPoint}') {
        display: none !important;
      }
    }

    .show-for-#{$name}-only {
      @include media('<#{$name}', '>=#{$prevBreakPoint}') {
        display: none !important;
      }
    }
    $prevBreakPoint: $name;
  }
}

// Only display the element when it's focused
.show-on-focus {
  &:active,
  &:focus {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
  }
}

// Landscape and portrait visibility
.show-for-landscape,
.hide-for-portrait {
  display: block !important;

  @include media('landscape') {
    display: block !important;
  }

  @include media('portrait') {
    display: none !important;
  }
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;

  @include media('landscape') {
    display: none !important;
  }

  @include media('portrait') {
    display: block !important;
  }
}


/* ---------------------------------------------------------
   2. Text decoration
   ---------------------------------------------------------*/

.text-default {
  color: $col-txt;
}
.text-disable {
  color: $disable-txt;
}
.text-error {
  color: $col-error;
}
.text-warning {
  color: $col-warning;
}
.text-primary {
  color: $col-primary;
}
.text-success {
  color: $col-success;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ellipsis--right {
  @extend .ellipsis;
  direction: rtl;
}
.bg-primary {
  background-color: $col-primary;
}
.bg-success {
  background-color: $col-success;
}
.bg-warning {
  background-color: $col-warning;
}
.bg-error {
  background-color: $col-error !important;
}
/* ---------------------------------------------------------
   3. Background decoration
   ---------------------------------------------------------*/
$soc-list: (
  'facebook': #3b5998,
  'twitter': #55acee,
  'linkedin': #007bb5,
  'google-plus': #dd4b39,
  'pinterest': #cb2027
);

@each $name, $color in $soc-list {
  .#{$name}-bg {
    background-color: $color;
    border-color: $color;
    &:hover {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
    }
  }
}

/* ---------------------------------------------------------
   4. Width
   ---------------------------------------------------------*/
.w-25 {
  width: calc(100% / 4)
}
.w-33 {
  width: calc(100% / 3)
}
.w-50 {
  width: calc(100% / 2)
}
.w-66 {
  width: calc((100% * 2)/3 );
}
.w-100 {
  width: 100%;
}

// clearfix
.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.d-flex {
  display: flex;
}

.debug-top {
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
    left: -100vw;
    right: -100vw;
    height: 1px;
    background: red;
  }
  &:after {
    top: 0;
  }
  &:before {
    bottom: 0;
  }
}
.debug-side {
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
    top: -100vh;
    bottom: -100vh;
    height: 1px;
    background: red;
  }
  &:after {
    left: 0;
  }
  &:before {
    right: 0;
  }
}
