$sidebar-indent: 10px;

html {
	font-size: $global-font-size;
	box-sizing: border-box;
  &.is-web {
    @include media('>=medium') {
      font-size: 10px;
    }
    @include media('>=fullHD') {
      font-size: .5209vw;
    } 
  }
}



*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	font-family: $base-font-sans-serif;
	font-weight: normal;
	line-height: $line-height-base;
	color: $base-text-color;
	background: $base-background-color;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  &.is-electron {
    overflow: hidden;
    min-width: $base-min-width;
  }
}
