.popup {
	border-radius: $bdrs;
	background-color: $bg-toolbar;
}

.popup_header {
	font-size: 1.4rem;
	color: $col-txt;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
    background: $bg-grad-blue;
	box-shadow: $icon-shad;
	&.disable {
		color: $disable-txt;
		background: $col-txt2;
		box-shadow: none;
	}
	 > * {
		margin: 0;
	}
}
.popup_tab-set {
	display: flex;
	overflow: hidden;
	border-radius: $bdrs $bdrs 0 0;
	.popup_header {
		flex: 1 1 100%;
	}
}
.popup_tab-body {
  display: flex;
  .popup_body {
    flex: 0 0 100%;
    margin-right: -100%;
    transform-origin: left;
    width: 0;
    overflow: hidden;
      + .popup_body {
        transform-origin: right;
      }
      &:not(.active) {
        transform: rotateY(90deg);
      }
      &.active {
        width: 100%;
        overflow: visible;
      }
  }
}
.popup_body {
	display: flex;
	flex-direction: column;
    max-height: 75vh;
    overflow-y: auto;
	&.indent {
		padding: $popup-indent-top $popup-indent-left;
	}
}
.popup_foot {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 $popup-indent-left $popup-indent-top;
	 > * + * {
		margin-left: 2rem;
	}
}

/*--- GLOBAL ---*/
.popup-global {
	position: fixed;
	z-index: 11;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.popup {
		position: relative;
		z-index: 1;
        min-width: 29rem;
        max-width: 50vw;
		box-shadow: $box-shad;
	}
}
.popup-global_overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#000, .25);
}
