// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-weight: normal;
	color: inherit;
	margin: 0;
}

h1,
.h1 {
	font-size: 2rem;
}

h2,
.h2 {
	font-size: 1.5rem;
}

h3,
.h3,
.big-text {
	font-size: 1.8rem;
}

h4,
.h4,
.middle-text {
	font-size: 1.6rem;
}

h5,
.h5 {
	font-size: 1rem;
}

h6,
.h6,
.small-text {
	font-size: .9rem;
}

p {
	margin: 0 0 1em;
}

a {
	@include multi-transition (color, background-color);

	text-decoration: none;
	&:not([class]) {
		//color: $col-primary;
		&:hover {
			//color: $col-primary-hover;
		}
	}
}

.bold {
	font-weight: bold;
	color: $color-bold;
	fill: $color-bold;
}

.normal {
	font-weight: 400;
	color: theme-var($text-normal);
}

.black {
	color: $black;
}

.white {
	color: $white;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
//a,
//button,
//img {
//	@include media('>=large') {
//		&:focus {
//			//outline: 1px dotted $col-primary;
//			//box-shadow: 0 0 1px 1px $white;
//		}
//	}
//}

h1 {
	line-height: 2.8rem;
}
