# bygg ett script och "sätt det som jag vill ha det"







class TrainNormalLayer{{layer_id}}(TrainingLayer):
    def run(self, graph: Graph):


        graph.find_node_with_tag('inputs').layer
        graph.find_node_with_tag('labels').layer


        #tf.data.Dataset()



    

    
                 
    
    
