{% macro layer_custom_inner(layer_spec, graph_spec=None) %}
class {{layer_spec.sanitized_name}}(InnerLayer):
    def __call__(self, inputs: Dict[str, tf.Tensor]) -> Dict[str, tf.Tensor]:
        """ Returns a transformed version of the input data.

        Args:
            inputs: a dict of inputs (e.g., a tf.Tensor).

        Returns:
            The transformed input data in a dict.
        """
        return inputs

    @property
    def variables(self) -> Dict[str, Picklable]:
        """Any variables belonging to this layer that should be rendered in the frontend.
        
        Returns:
            A dictionary with variable names for keys and picklables for values.
        """

        return {}
{% endmacro %}
