$iconsGroupColor: #5c6680;

.copyryght {
	text-align: center;
	margin-bottom: 5.5rem;
}
.copyryght_logo {
	width: 17rem;
	margin-bottom: 3rem;
	margin-top: 0.4rem;
}
.copyryght_text {
	p {
		font-size: 13px;
		margin-bottom: 0.5rem
	}
}

.switcher {
	overflow: hidden;
	border: 1px solid $color-5;
	border-radius: 2rem;
	box-shadow: $icon-shad;

	li {
		overflow: hidden;
		flex: 1 1 0;
		text-align: center;

		label {
			span {
				font-size: 1.4rem;
				display: block;
				width: 100%;
				padding: .8rem .2rem;
			}
		}
		input[type='radio'] {
			position: absolute;
			left: -9999px;
		}
		input[type='radio'] + span {
			color: #868697;
		}
		input[type='radio']:checked + span {
			color: #dadce2;
			background: $bg-grad-blue;
		}
	}
}
.icons-group-button {
	justify-content: space-between;
	margin-bottom: 2rem;

	li {
		width: 5rem;
		height: 5rem;

		label {
			span {
				font-size: 2.2rem;
				color: $iconsGroupColor;
				display: block;
				display: flex;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				width: 100%;
				height: 100%;
				border: 2px solid $iconsGroupColor;
				border-radius: .5rem;
				background: #495163;
			}
		}

		input[type='radio']:checked,
		input[type='radio']:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		input[type='radio'] + span {
			color: $col-placeholder;
		}
		input[type='radio']:checked + span {
			color: $col-txt;
			border: none;
			background: $bg-grad-blue;
			box-shadow: $icon-shad;
		}
	}
}
.account-info {
	margin-bottom: 2rem;
	padding: 1rem 0;
	border-top: 1px solid $bg-toolbar;
	border-bottom: 1px solid $bg-toolbar;
	li {
		justify-content: space-between;
		margin-bottom: 1rem;
		margin-left: 1rem;
		.icon {
			margin-right: .5rem;
		}
		&.disabled {
			color: #6b6e7f;
		}
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: #e2b96b;
			label {
				text-decoration: underline;
			}
		}
	}
}
.source-path-box {
	justify-content: space-between;
	input {
		margin-right: 1.5rem;
	}
}
