.copyryght
  img(v-if="isWeb").copyryght_logo(src="../../../../static/img/perceptilabs-logo-splashscreen.svg" alt="PerceptiLabs logo")
  img(v-if="!isWeb").copyryght_logo(src="../../../../static/img/PerceptiLabs_Logo_vert-web-dark_beta-02.svg" alt="PerceptiLabs logo")
  .copyryght_text
    p(v-if="!isWeb") Version: {{appVersion}}
    p Copyright ©2019

.form_holder.text-center
  button.btn.btn--outline-blue.projects-sidebar_link(type="button"
    v-if="localUserInfo && localUserInfo.workspace"
    @click="openLastWS"
  )
    span Continue

  button.btn.btn--outline-blue.projects-sidebar_link(type="button"
    @click="loadFolderPath"
  )
    span Load model
