.copyryght
  img(src="../../../../static/img/percepti-labs-logo.svg" alt="percepti labs logo").copyryght_logo
  .copyryght_text
    p Version: {{appVersion}}
    p Copyright ©2019

.form_holder
  button.btn.btn--outline-blue.projects-sidebar_link(type="button"
    v-if="localUserInfo.workspace"
    @click="openLastWS"
  )
    span Continue the last session

  button.btn.btn--outline-blue.projects-sidebar_link(type="button"
    @click="openNetwork"
  )
    span Open model
