.page-projects_title
  h2 Recent files
    span.title-box_projectscount ({{projects.length}})
  .filter-recent-files
    .i.icon.icon-filter 
    input(type="text" placeholder="Filter recent files" v-model="search")
    
ul.project-list
  article.project-box
    button.project.add-new(@click="addNewProject")
      .project_ration
      .project_content
        i.icon.icon-zoom-plus
    h3 Add new project
  
  article.project-box(
    v-for="(project, i) in filteredProjects"
    :key="project.i"
    )
    button.project(@click="openProject")
      .project_ration
      .project_content
        .project_content-info.d-flex
          i.icon(:class="project.icon")
          span.content-info_status.primary(v-if="project.trained") Trained
          span.content-info_status.dark-blue(v-else) Not trained
    h3 {{project.name}}
    time.text-disable {{project.time}}