
.workspace_tab-list {
  padding: 0 0 0 2em;
  margin: 0;
  list-style: none;
  display: flex;
}
.workspace_tab {
  height: 2.5rem;
  background-color: #2A303D;
  border-radius: 1rem 1rem 0 0;
  min-width: 16.7143em;
  padding-left: .8em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  &.active {
    background-color: $bg-workspace;
  }
}
.tab_close {
  margin-right: 1.25rem;
  font-size: .5em;
  color: $bg-scroll;
}
.tab_name {
  margin-right: 1rem;
}
.tab_statistics {
  height: 100%;
  padding: .25em .8em;
  border-radius: 1rem 1rem 0 0;
  font-size: 1rem;
  min-width: auto;
  .icon {
    font-size: 1.2em;
  }
}


.toggle-sidebar {
  .btn--toolbar {
    height: 1.9em;
    width: 1.9em;
    font-size: 1.5714rem;
    background-color: $bg-toolbar;
    border-radius: 0;
  }
  .icon {
    @include multi-transition(transform)
  }
  &.hide-sidebar {
    .btn--toolbar .icon{
      transform: rotate(180deg);
    }
  }
}
