
ul.workspace_tab-list
  li.workspace_tab(
  v-for="(tab, i) in workspace"
  :key="i"
  :class="{'active': indexCurrentNetwork == i}"
  @click="setTabNetwork(i)"
  )
    button.btn.btn--icon.tab_close(type="button"
      :disabled="workspace.length <= 1"
      @click.stop="deleteTabNetwork(i)"
    )
      i.icon.icon-close
    text-editable.tab_name(
      :textTitle="tab.networkName"
      @changeTitle="editNetName"
      )
    button.btn.btn--tabs.tab_statistics(type="button"
      v-if="tab.networkMeta.openStatistics !== null"
      @click.stop="openStatistics"
      :class="{'active': tab.networkMeta.openStatistics}")
      span Statistics
      i.icon.icon-circle-o


.toggle-sidebar(:class="{'hide-sidebar': !hideSidebar}")
  button.btn.btn--toolbar(type="button" @click="toggleSidebar()")
    i.icon.icon-hide-right
