
ul.workspace_tab-list
  li.workspace_tab(
  v-for="(tab, i) in workspace"
  :key="i"
  :class="{'active': currentNetwork == i}"
  @click="setTabNetwork(i)"
  )
    button.btn.btn--icon.tab_close(type="button"

    )
      i.icon.icon-close
    text-editable.tab_name(
      :textTitle="tab.networkName"
      @changeTitle="editNetName"
      )

.toggle-sidebar(:class="{'hide-sidebar': !hideSidebar}")
  button.btn.btn--toolbar(type="button" @click="toggleSidebar()")
    i.icon.icon-hide-right
