ul.bookmark_tab-list
  li.bookmark_tab.workspace_tab(
  v-for="(tab, i) in workspace"
  :key="i"
  :class="{'bookmark_tab--active': indexCurrentNetwork === i}"
  @click="setTabNetwork(i)"
  )
    button.btn.btn--icon.tab_close(type="button"
      :disabled="workspace.length <= 1"
      @click.stop="deleteTabNetwork(i)"
    )
      i.icon.icon-close
    text-editable.tab_name(
      :text-title="tab.networkName"
      @change-title="editNetName"
      )
    button.btn.btn--tabs.tab_statistics#tutorial_statistic-tab(type="button"
      v-if="tab.networkMeta.openStatistics !== null"
      @click.stop="openStatistics(i)"
      :class="{'active': tab.networkMeta.openStatistics && indexCurrentNetwork === i}")
      span Statistics
      i.icon(:class="{'icon-circle-o': trainingWaiting(i), 'icon-circle-o green-color-icon': trainingInProcess(i), 'icon-ellipse green-color-icon': trainingFinished(i) }")
    button.btn.btn--tabs.tab_statistics.tab--testing(type="button"
      v-if="tab.networkMeta.openTest !== null"
      :class="{'active': tab.networkMeta.openTest && indexCurrentNetwork === i}"
      @click.stop="openTest(i)"
      )
      span Test


.toggle-sidebar(:class="{'hide-sidebar': !hideSidebar}")
  button.btn.btn--toolbar(type="button" @click="toggleSidebar()")
    i.icon.icon-hide-right
