$breakpoint: (
  'large': 1600px,
  'medium': 1024px,
  'small': 800px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$white: #fff;
$black: #000;

$col-primary: #22DDE5;
$col-primary2: #6E92FA;
$col-txt: #E1E1E1;
$col-txt2: #383F50;
$disable-txt: #8B8B9C;

$bg-window: #383F50;
$bg-workspace: #23252A; //checkbox
$bg-workspace-2: #3C3C4C;
$bg-toolbar: #4D556A;

$bg-scroll: #989FB0;
$bg-input: #5B657B;
$toolbar-border: #333343;

$login-blue: #6E92FA;

$color-1: #73FEBB;
$color-2: #61E6EE;
$color-3: #489671;
$color-4: #337A7F;
$color-5: #7397FE;
$color-6: #6185EE;

$color-7:  #727EA6;
$color-8:  #5D698D;
$color-9:  #515972;
$color-10: #6CF4D1;

$bg-grad-cyan: linear-gradient($color-1, $color-2);
$bg-grad-blue: linear-gradient($color-5, $color-6);
$bg-grad-disable: linear-gradient($color-9, $color-8);



//$color-11: #5D698D;
//$color-12: #5D698D;
//$color-13: #5D698D;
//$color-14: #5D698D;


$box-shad: 0 2px 7px 0px rgba(#000, .3);
$icon-shad: 0 4px 4px rgba(#000, .25);
$layer-shad: 0 0 6px rgba(#000, .7);

$font-path: './../../static/fonts';

/*----- Form var -----*/
$col-border: #d9d9d9;
//$col-focus: #7f7f7f;
$col-error: #EE6161;
$col-warning: #FBCA6F;
$col-success: #bad76d;
$col-placeholder: #8B8B9C;
$default-border: 2px solid $col-border;
$input-height: 2.8rem;
$input-holder-margin: .75rem;

/*----- Global layout -----*/
$vert-indent: 20px;
$form-indent: 1rem;
$bdrs: .5rem;
$w-layersbar: 7.1rem; //80px

$h-sidebar-layers-item: 3.357rem; //33px
$h-sidebar-layers-indent: 1rem; //14px
$sidebar-first-tab-indent: 1.5rem; //14px
$w-sidebar: 30rem; //300px
$h-toolbar: 4em; //56px
$h-header-win: 30px;
$h-header-mac: 22px;
$h-header-linux: 51px;

/*----- Font -----*/
$base-font-sans-serif: 'roboto', 'Helvetica',  'Arial', sans-serif;

/*----- Body -----*/
$base-text-color: $col-txt;
$base-background-color: $white;
$global-font-size: 8px;
$line-height-base: 1.2;
$base-font-family: $base-font-sans-serif ;
$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 800px;
$base-min-height: 600px;

$animation-speed: .3s; // for mixin

/*----- Popup -----*/
$popup-indent-top: 2rem;
$popup-indent-left: 1rem;



