$folder: 'icomoon';

@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}/#{$folder}/icomoon.woff?zddcqb') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-data-toggle:before {
  content: "\e90d";
}
.icon-data-in:before {
  content: "\e90b";
}
.icon-data-out:before {
  content: "\e90c";
}
.icon-data:before {
  content: "\e90a";
}
.icon-map:before {
  content: "\e919";
}
.icon-settings:before {
  content: "\e930";
}
.icon-full-screen:before {
  content: "\e94d";
}
.icon-put-in-button:before {
  content: "\e921";
}
.icon-sieve:before {
  content: "\e932";
}
.icon-one-hot:before {
  content: "\e953";
}
.icon-crop-symbol:before {
  content: "\e909";
}
.icon-network:before {
  content: "\e91c";
}
.icon-round:before {
  content: "\e926";
}
.icon-round-out:before {
  content: "\e92b";
}
.icon-round-in:before {
  content: "\e929";
}
.icon-round-left:before {
  content: "\e92a";
}
.icon-training:before {
  content: "\e940";
}
.icon-l-learn-normData:before {
  content: "\e948";
}
.icon-learning-reinforcement:before {
  content: "\e93f";
}
.icon-learning-reinforcement1:before {
  content: "\e949";
}
.icon-learning-genetic:before {
  content: "\e93e";
}
.icon-learning-dynamic:before {
  content: "\e93d";
}
.icon-calc:before {
  content: "\e904";
}
.icon-l-calc-argmax:before {
  content: "\e942";
}
.icon-road-split:before {
  content: "\e925";
}
.icon-road-concat:before {
  content: "\e924";
}
.icon-calc-softmax:before {
  content: "\e941";
}
.icon-mind:before {
  content: "\e91b";
}
.icon-round-sieve:before {
  content: "\e92c";
}
.icon-round-three:before {
  content: "\e92d";
}
.icon-round-figur:before {
  content: "\e927";
}
.icon-trees:before {
  content: "\e935";
}
.icon-round-figur2:before {
  content: "\e928";
}
.icon-add:before {
  content: "\e900";
}
.icon-layer-net:before {
  content: "\e93b";
}
.icon-students-cap:before {
  content: "\e947";
}
.icon-rectangle:before {
  content: "\e922";
}
.icon-layer-net-set:before {
  content: "\e93c";
}
.icon-burger:before {
  content: "\e903";
}
.icon-hide-right:before {
  content: "\e916";
}
.icon-hide-top:before {
  content: "\e917";
}
.icon-select:before {
  content: "\e92f";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-layer-arrow1:before {
  content: "\e938";
}
.icon-layer-arrow3:before {
  content: "\e93a";
}
.icon-layer-arrow2:before {
  content: "\e939";
}
.icon-step-prev:before {
  content: "\e934";
}
.icon-step-next:before {
  content: "\e933";
}
.icon-on-off:before {
  content: "\e91f";
}
.icon-pause:before {
  content: "\e920";
}
.icon-next:before {
  content: "\e91d";
}
.icon-repeat:before {
  content: "\e923";
}
.icon-box:before {
  content: "\e902";
}
.icon-empty:before {
  content: "\e910";
}
.icon-shevron:before {
  content: "\e931";
}
.icon-folder:before {
  content: "\e913";
}
.icon-lock:before {
  content: "\e918";
}
.icon-eye:before {
  content: "\e911";
}
.icon-delete:before {
  content: "\e90e";
}
.icon-filter:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e905";
}
.icon-comments:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\e92e";
}
.icon-user:before {
  content: "\e936";
}
.icon-share:before {
  content: "\e94e";
}
.icon-cloud:before {
  content: "\e906";
}
.icon-dropbox-logo:before {
  content: "\e90f";
}
.icon-g-drive:before {
  content: "\e915";
}
.icon-onedrive:before {
  content: "\e91e";
}
.icon-cloud-add:before {
  content: "\e907";
}
.icon-computer:before {
  content: "\e94c";
}
.icon-check-mark:before {
  content: "\e937";
}
.icon-player-prev:before {
  content: "\e945";
}
.icon-player-play:before {
  content: "\e946";
}
.icon-player-pause:before {
  content: "\e944";
}
.icon-player-next:before {
  content: "\e943";
}
.icon-zoom-plus:before {
  content: "\e94a";
}
.icon-minus:before {
  content: "\e94b";
}
.icon-full-screen-graph:before {
  content: "\e914";
}
.icon-ellipse:before {
  content: "\e94f";
}
.icon-circle-o:before {
  content: "\e950";
}
.icon-acces:before {
  content: "\e951";
}
.icon-notification:before {
  content: "\e952";
}
.icon-appMinimaze:before {
  content: "\e954";
}
.icon-appResize:before {
  content: "\e955";
}
.icon-appClose:before {
  content: "\e956";
}
.icon-stop2:before {
  content: "\ea1e";
}
