$action-list-btn-padding: .5em;

ul.action-list {
	overflow: hidden;
	width: 100%;
	border-radius: $bdrs;
	background-color: $bg-toolbar;
	box-shadow: $box-shad;
}
.action-list_btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: $action-list-btn-padding 1em;
	background-color: transparent;
	&:hover {
		background: $bg-grad-blue;
		box-shadow: $box-shad;
	}
}
.action-list_btn-text {
	margin-right: 3.5rem;
	white-space: nowrap;
}
.action-list_item-line {
  height: 1px;
  background: $bg-input;
}