$layers-sidebar: (
        'io': linear-gradient(#D3DFFE, #A1A9BF),
        'data': $bg-grad-blue,
        'process': linear-gradient(#FECF73, #EEB661),
        'learn-deep': linear-gradient(#FE7373, #EE6161),
        'train': $bg-grad-cyan,
        'math': linear-gradient(#7389FE, #6167EE),
        'learn-class': linear-gradient(#E273FE, #B061EE),
        'add': #4A5367
);

@each $name, $color in $layers-sidebar {
  .net-element-#{$name} {
    @include multi-transition(opacity);
    background: $color;
  }
}

$layers-sidebar-active: (
        'io': linear-gradient(#8394C5, #66708B),
        'data': linear-gradient(#4C63A6, #384E8E),
        'process': linear-gradient(#C29F5B, #A98246),
        'learn-deep': linear-gradient(#CA5A5A, #9D3C3C),
        'train': linear-gradient(#58C28F, #44A1A7),
        'math': linear-gradient(#5866B1, #474BB4),
        'learn-class': linear-gradient(#AF58C5, #76449D),
        'add': #4A5367
);

@each $name, $color in $layers-sidebar-active {
  .net-element-#{$name} {
    &:hover,
    &.active {
      background: $color;
    }
  }
}

.net-element-add {
  color: #5C6680;
  &:after {
    display: none;
  }
}

.net-element {
  position: absolute;
  box-sizing: border-box;
  background-color: $bg-workspace;
  border-radius: .5rem;
  //filter: blur(0px);
  //transition: top .1s, left .1s;
  &:hover {
   will-change: top, left;
  }
}
//.net-element.active:before{
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  outline: 1px dashed $col-placeholder;
//}
.element--hidden .net-element_btn,
.arrow--hidden {
  opacity: .1;
}
