.popup-body {
	position: fixed;
	z-index: 100;
	top: 99%;
	left: 99%;
	overflow: hidden;
	width: 40rem;
	padding-bottom: 1rem;
	transform: translate(-99%, -99%);
	border-radius: .5rem;
	background: $bg-toolbar;
	&.bg-mode{
		padding-bottom: 0;
		.info-box {
			display: none;
		}
	}
}
.popup-body_header {
	font-size: 1.4rem;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	background: $col-txt2;
}
.header_title {
	font-size: 1.4rem;
	color: $col-txt;
	margin: 0;
}

.popup-body_info {
	padding: 2rem 1.5rem 3rem 1.5rem;
}
.info_process-name {
	font-size: 1.2rem;
	color: $col-placeholder;
	display: block;
	margin-bottom: 1rem;
}
.info_message {
	font-size: 1.2rem;
}

.info_progress-bar {
  margin: 1rem 0;
  width: 100%;
  height: 2rem;
  border-radius: .5rem;
  background: #535b71;
}
.progress-bar_update-status {
	font-size: 1.2rem;
	display: block;
	margin-bottom: 2rem;
}
.progress-bar_loading-line {
	height: inherit;
	transition: width .5s linear;
	border-radius: .5rem;
	background: $bg-grad-cyan;
}

.info_about-update-btn {
	margin: .5rem 0;
	padding: .5rem 0;
	text-decoration: underline;
	background: none;
}
.about-update-list_item {
	font-size: 1rem;
	line-height: 1.4rem;
	margin-bottom: 1rem;

	&:before {
		content: '-';
		margin-right: .5rem;
	}
}

.popup-body_footer {
	margin-bottom: 1rem;
	padding: 0 1.5rem;
	button {
		display: inline-block;
		min-width: 12rem;
		height: auto;
		margin-right: 1rem;
		padding: .65em .5em;
	}
}
