{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 3%", "last 2 versions", "not ie <= 11", "not Edge <= 18"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
