$folder: "roboto";

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-black-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-thin-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
