.vb {
   > .vb-dragger {
    z-index: 5;
    right: 3px;
    width: 6px;
     > .vb-dragger-styler {
      display: block;
      height: 100%;
      transition: background-color 100ms ease-out;
      transform: rotate3d(0,0,0,0);
      border-radius: 20px;
      background-color: rgba($bg-scroll,.3);

      backface-visibility: hidden;
    }
    &:hover > .vb-dragger-styler {
      height: 100%;
      margin: 0;
      background-color: $bg-scroll;
    }
  }
  &.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba($bg-scroll, .5);
  }
  &.vb-dragging > .vb-dragger > .vb-dragger-styler {
    height: 100%;
    margin: 0;
    background-color: $bg-scroll;
  }
  &.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: $bg-scroll;
  }
}
