.workspace_scale
  .worksapce-scale-info.mr-10 
  img(src="../../../../static/img/zoom-in.svg" style="margin-right: 10px")
  | Zoom
  button.btn.btn--icon.workspace-scale_btn(type="button" @click="decScale()")
    i.icon.icon-minus
  .workspace-scale_input
    input(type="text" 
    v-model.number="scaleNet" 
    @keypress="filterNonNumber($event)" 
    @blur="onZoomInputBlur")
    span %
  button.btn.btn--icon.workspace-scale_btn(type="button" @click="incScale()")
    i.icon.icon-zoom-plus
  base-checkbox( :value="isMiniMapNavigatorOpened" @input="setMiniMapNavigationMutation"  data-testing-target="mini-map-checkbox") Map
  base-checkbox( v-model="isGridEnabled") Grid
.workspace-meta-box
  model-status(
    v-if="(currentNetwork.networkMeta.coreStatus.Status !== 'Waiting') && !statisticsIsOpen"
    :options="{styleInlineLabel: true}"
    :statusData="currentNetwork && currentNetwork.networkMeta.coreStatus"
  )
  .x-space-20
  div
    span Python {{coreVersions.python}} - TensorFlow {{coreVersions.tensorflow}}
    span.btn.python-status(
      :class="{'connected': statusLocalCore === 'online', 'disconnected': statusLocalCore === 'offline'}"
    )
.workspace-meta-right-box
  .workspace_meta-action
    button.btn(
      :class="(getNotificationWindowSelectedTab === 'ErrorInfoPanel' && showNotificationWindow) ? 'btn--primary' : 'btn--secondary'"
      @click="notificationWindowStateHandlerNew('ErrorInfoPanel')"
    ) {{ workspaceErrors }} Problems
      span.btn.python-status(
      :class="{'connected': workspaceErrors === 0, 'disconnected': workspaceErrors > 0}")
    button.btn(
      :class="(getNotificationWindowSelectedTab === 'ConsoleInfoPanel' && showNotificationWindow) ? 'btn--primary' : 'btn--secondary'"
      @click="notificationWindowStateHandlerNew('ConsoleInfoPanel')"
      ) Console
      
    button.btn(
      v-if="statisticsIsOpen"
      type="button" 
      :class="{'clicked': showResourceView!=0, 'btn--primary': showResourceView!=0, 'btn--secondary': showResourceView==0}"
      @click="setResourceView(1)"
      ) Hardware