.workspace_scale
  .worksapce-scale-info.mr-10 Zoom
  button.btn.btn--icon.workspace-scale_btn(type="button" @click="decScale()")
    i.icon.icon-minus
  .workspace-scale_input
    input(type="text" 
    v-model.number="scaleNet" 
    @keypress="filterNonNumber($event)" 
    @blur="onZoomInputBlur")
    span %
  button.btn.btn--icon.workspace-scale_btn(type="button" @click="incScale()")
    i.icon.icon-zoom-plus
  base-checkbox( :isMiniMap="true" :isNewUi="true" :value="isMiniMapNavigatorOpened" @input="setMiniMapNavigationMutation"  data-testing-target="mini-map-checkbox") Map
  base-checkbox( :isMiniMap="true" :isNewUi="true" v-model="isGridEnabled") Grid
.workspace-meta-right-box
  model-status(
    v-if="(currentNetwork.networkMeta.coreStatus.Status !== 'Waiting') && !statisticsIsOpen"
    :options="{styleInlineLabel: true}"
    :statusData="currentNetwork && currentNetwork.networkMeta.coreStatus"
  )
  .x-space-20
  div
    span Python {{coreVersions.python}} - TensorFlow {{coreVersions.tensorflow}}
    span.btn.python-status(
      :class="{'connected': statusLocalCore === 'online', 'disconnected': statusLocalCore === 'offline'}"
      v-tooltip:up="kernelLabel"
    )
  .x-space-20
  .workspace_meta-action

    div.btn-menu-bottom-group-bars
      button.btn-menu-bar.size-xs(
        :class="{'active': getNotificationWindowSelectedTab === 'ErrorInfoPanel' && showNotificationWindow}"
        @click="notificationWindowStateHandlerNew('ErrorInfoPanel')"
      ) {{ workspaceErrors }} Problems
        span.btn.python-status(
        :class="{'connected': workspaceErrors === 0, 'disconnected': workspaceErrors > 0}")
      button.btn-menu-bar.size-xs(
        :class="{'active': getNotificationWindowSelectedTab === 'ConsoleInfoPanel' && showNotificationWindow}"
        @click="notificationWindowStateHandlerNew('ConsoleInfoPanel')"
        ) Console
      
  .x-space-10
  
  button.btn-menu-bar.size-xs(
    v-if="statisticsIsOpen"
    type="button" 
    :class="{clicked: showResourceView!=0, 'active': showResourceView != 0}"
    @click="setResourceView(1)"
    ) Hardware