.base-chart_main {
  .echarts {
    position: absolute;
    top: 3%;
    right: 3%;
    bottom: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    .chart-img {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

/*DataData + DatEnv*/
.data-settings_chart {
  min-height: 140px;
  // border: none;
}

.sidebar-data-settings_chart {
  min-height: $preview-content;
}

// right sidebar settings menu fixed preview height
.sidebar-settings-preview-wrapper {
  canvas {
    height: $preview-content !important;
    max-height: $preview-content !important;
    min-height: $preview-content !important;
  }  
}