.base-chart_main {
  .echarts {
    position: absolute;
    top: 3%;
    right: 3%;
    bottom: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    > div {
      position: static !important;
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
    .chart-img {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

/*DataData + DatEnv*/
.data-settings_chart {
  min-height: 20rem;
}