$layers-sidebar: (
  'io': linear-gradient(#d3dffe, #a1a9bf),
  'data': rgba(113, 149, 252, 0.4),
  // 'process': linear-gradient(#fecf73, #eeb661),
  'process': rgba(253, 205, 114, 0.4),
  'learn-deep': rgba(241, 100, 100, 0.4),
  'train': rgba(101, 213, 163, 0.4),
  'math': linear-gradient(#1B9EFC, #007BEF),
  'learn-class': linear-gradient(#e273fe, #b061ee),
  'custom': linear-gradient(#697592, #4D556A),
  'layercontainer': linear-gradient(#e8f551, #9af142),
);

@each $name, $color in $layers-sidebar {
  .net-element-#{$name} {
    @include multi-transition(opacity);

    background: $color;
  }
}
$layers-sidebar: (
  'io': linear-gradient(#d3dffe, #a1a9bf),
  'data': #4C66B2,
  // 'process': linear-gradient(#fecf73, #eeb661),
  'process': rgba(253, 205, 114, 0.2),
  'learn-deep': rgba(241, 100, 100, 0.2),
  'train': rgba(101, 213, 163, 0.2),
  'math': linear-gradient(#1B9EFC, #007BEF),
  'learn-class': linear-gradient(#e273fe, #b061ee),
  'custom': linear-gradient(#697592, #4D556A),
  'layercontainer': linear-gradient(#e8f551, #9af142),
);

@each $name, $border-color in $layers-sidebar {
  .net-element-#{$name} {
    @include multi-transition(opacity);
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
  }
}

$layers-sidebar: (
  'data': $color-6,
  'process': #FBCA70,
  'learn-deep': #ee6161,
  'train': $color-2,
  'math': #6167ee,
  'learn-class': #b061ee,
  'custom': #3a4357,
  'layercontainer': #9af142,
);
@each $name, $color in $layers-sidebar {
  .net-color-#{$name} {
    background: $color;
  }
}


$layers-sidebar-active: (
  'io': linear-gradient(#8394c5, #66708b),
  'data': linear-gradient(#4c63a6, #384e8e),
  'process': linear-gradient(#c29f5b, #a98246),
  'learn-deep': linear-gradient(#ca5a5a, #9d3c3c),
  'train': linear-gradient(#58c28f, #44a1a7),
  'math': linear-gradient(#0385e2, #0061bd),
  'learn-class': linear-gradient(#af58c5, #76449d),
  'custom': #4a5367,
  'layercontainer': linear-gradient(#a0a839, #6aa32d),
);

@each $name, $color in $layers-sidebar-active {
  .net-element-#{$name} {
    &:hover,
    &.active,
    .net-element_btn:hover &,
    .net-element_arrows-start:hover ~ .net-element_btn & {
      background: $color;
    }
  }
}

.net-element-custom {
	&:after {
		display: none;
	}
}


//.net-element.active:before{
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  outline: 1px dashed $col-placeholder;
//}
.element--hidden .net-element_btn,
.arrow--hidden {
	opacity: .4;
}

.net-element {
  &:hover .btn--layersbar {
    box-shadow: inset 0 0 0 1px #fff;
  }
  .btn--layersbar .icon {
    font-size: 12px;
  }
}
.net-element--active .btn--layersbar {
  box-shadow: inset 0 0 0 1px #fff;
}
.layer-type {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
  margin-left: 5px;

  white-space: nowrap;                   
  overflow: hidden;
  text-overflow: ellipsis; 
  direction: rtl;
  text-align: left;
}
