$layers-sidebar: (
  'io': linear-gradient(#d3dffe, #a1a9bf),
  'data': rgba(113, 149, 252, 0.4),
  // 'process': linear-gradient(#fecf73, #eeb661),
  'process': rgba(253, 205, 114, 0.4),
  'learn-deep': rgba(241, 100, 100, 0.4),
  'train': rgba(101, 213, 163, 0.4),
  'math': rgba(0, 123, 239, 0.4),
  'learn-class': linear-gradient(#e273fe, #b061ee),
  'custom': linear-gradient(#697592, #4D556A),
  'layercontainer': linear-gradient(#e8f551, #9af142),
);

@each $name, $color in $layers-sidebar {
  .net-element-#{$name} {
    @include multi-transition(opacity);

    background: $color;
  }
}
$layers-sidebar: (
  'io': linear-gradient(#d3dffe, #a1a9bf),
  'data': #4C66B2,
  // 'process': linear-gradient(#fecf73, #eeb661),
  'process': rgba(253, 205, 114, 0.2),
  'learn-deep': rgba(241, 100, 100, 0.2),
  'train': rgba(101, 213, 163, 0.2),
  'math': rgba(0, 123, 239, 0.2),
  'learn-class': linear-gradient(#e273fe, #b061ee),
  'custom': linear-gradient(#697592, #4D556A),
  'layercontainer': linear-gradient(#e8f551, #9af142),
);

@each $name, $border-color in $layers-sidebar {
  .net-element-#{$name} {
    @include multi-transition(opacity);
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
  }
}

$layers-sidebar: (
  'data': $color-6,
  'process': #FBCA70,
  'learn-deep': #ee6161,
  'train': $color-2,
  'math': #6167ee,
  'learn-class': #b061ee,
  'custom': #3a4357,
  'layercontainer': #9af142,
);
@each $name, $color in $layers-sidebar {
  .net-color-#{$name} {
    background: $color;
  }
}


$layers-sidebar-active: (
  'io': linear-gradient(#8394c5, #66708b),
  'data': rgba(115, 151, 254, 0.8),
  'process': rgba(253, 205, 114, 0.8),
  'learn-deep': rgba(242, 101, 101, 0.8),
  'train': rgba(101, 213, 163, 0.8),
  'math': rgba(0, 123, 239, 0.8),
  'learn-class': linear-gradient(#af58c5, #76449d),
  'custom': #4a5367,
  'layercontainer': linear-gradient(#a0a839, #6aa32d),
);

// @each $name, $color in $layers-sidebar-active {
//   .net-element-#{$name} {
//     &:hover,
//     &.active,
//     .net-element_btn:hover &,
//     .net-element_arrows-start:hover ~ .net-element_btn & {
//       background: $color;
//     }
//   }
// }
.net-element {
  .btn--layersbar {
    position: relative;
    border: 3px solid transparent !important; // fix for jumping comntent

    // after and before is a fix for transparent border when component is hovered or active
    &:after {
      position: absolute;
      width: 3px;
      height: 6px;
      left: -3px;
      bottom: -6px;
      background-color: #1473e6;
    }
    &:before {
      position: absolute;
      width: 3px;
      height: 6px;
      right: -3px;
      bottom: -6px;
      background-color: #1473e6;
    }
  }
  .settings-layer {
    border-top-width: 0 !important;
    border: 3px solid #3F4C70 !important;
  }
  &.net-element--active {
    @each $name, $color in $layers-sidebar-active {
      .net-element-#{$name} {
        background: $color;
      }
    }
    
  }
}

.net-element-custom {
	&:after {
		display: none;
	}
}

.element--hidden .net-element_btn,
.arrow--hidden {
	opacity: .4;
}

.net-element {
  &:hover {
    .btn--layersbar {
      border:  3px solid #1473e6 !important; ;
      border-bottom-color: transparent !important;
      &:after {
        content: '';
      }
      &:before {
        content: '';
      }
    }
    .settings-layer {
      border:  3px solid #1473e6 !important;
      border-top-color: transparent !important;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: -2px;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#B6C7FB, 0.5);
        // background: #B6C7FB;
        mix-blend-mode: soft-light;
        pointer-events: none;
      }
    }
  
  }
  .btn--layersbar .icon {
    font-size: 12px;
  }
}
.net-element--active, .net-element--selecting  {
  .btn--layersbar, .settings-layer {
    border: 3px solid #1473e6 !important;
  }
  .settings-layer {
    border-top-color: transparent !important;
  }
  .btn--layersbar {
    border-bottom-color: transparent !important;
    &:after {
      content: '';
    }
    &:before {
      content: '';
    }
  }
}
.layer-type {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
  margin-left: 5px;

  white-space: nowrap;                   
  overflow: hidden;
  text-overflow: ellipsis; 
  direction: rtl;
  text-align: left;
}
