$layers-sidebar: (
  'io': linear-gradient(#d3dffe, #a1a9bf),
  'data': $bg-grad-blue,
  'process': linear-gradient(#fecf73, #eeb661),
  'learn-deep': linear-gradient(#fe7373, #ee6161),
  'train': $bg-grad-cyan,
  'math': linear-gradient(#1B9EFC, #007BEF),
  'learn-class': linear-gradient(#e273fe, #b061ee),
  'custom': linear-gradient(#697592, #4D556A),
  'layercontainer': linear-gradient(#e8f551, #9af142),
);

@each $name, $color in $layers-sidebar {
  .net-element-#{$name} {
    @include multi-transition(opacity);

    background: $color;
  }
}

$layers-sidebar: (
  'data': $color-6,
  'process': #eeb661,
  'learn-deep': #ee6161,
  'train': $color-2,
  'math': #6167ee,
  'learn-class': #b061ee,
  'custom': #4a5367,
  'layercontainer': #9af142,
);
@each $name, $color in $layers-sidebar {
  .net-color-#{$name} {
    color: $color;
  }
}


$layers-sidebar-active: (
  'io': linear-gradient(#8394c5, #66708b),
  'data': linear-gradient(#4c63a6, #384e8e),
  'process': linear-gradient(#c29f5b, #a98246),
  'learn-deep': linear-gradient(#ca5a5a, #9d3c3c),
  'train': linear-gradient(#58c28f, #44a1a7),
  'math': linear-gradient(#0385e2, #0061bd),
  'learn-class': linear-gradient(#af58c5, #76449d),
  'custom': #4a5367,
  'layercontainer': linear-gradient(#a0a839, #6aa32d),
);

@each $name, $color in $layers-sidebar-active {
  .net-element-#{$name} {
    &:hover,
    &.active,
    .net-element_btn:hover &,
    .net-element_arrows-start:hover ~ .net-element_btn & {
      background: $color;
    }
  }
}

.net-element-custom {
	&:after {
		display: none;
	}
}


//.net-element.active:before{
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  outline: 1px dashed $col-placeholder;
//}
.element--hidden .net-element_btn,
.arrow--hidden {
	opacity: .4;
}

.net-element {
  &:hover .btn--layersbar {
    box-shadow: inset 0 0 0 1px #fff;
  }
  .btn--layersbar .icon {
    font-size: 33px;
  }
}
.net-element--active .btn--layersbar {
  box-shadow: inset 0 0 0 1px #fff;
}
