.statistics-box {
	display: flex;
	width: 100%;
}
.statistics-box--horizontally {
	flex-direction: column;
}
.statistics-box--horizontally .statistics-box_tabset{
	flex-wrap: nowrap;
	max-width: 100%;
	flex: 0 0 auto;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
}
.statistics-box_tabset {
	display: flex;
	flex: 0 0 10rem;
	flex-wrap: wrap;
	max-width: 10.4rem;
	background-color: $bg-window;

}
.statistics-box_tab {
	display: flex;
	padding: 3px 3px 0 1px;
	&:last-child {
		padding-bottom: 3px;
		.statistics-box--horizontally & {
			padding-bottom: 0;
		}
	}
	.btn {
		flex: 1;
	}
}


.statistics-box_main {
	position: relative;
	overflow: hidden;
	flex: 1 1 100%;
}
.statistics-box_row {
	display: flex;
	overflow: hidden;
	 > * {
		flex: 1 1 100% ;
	}
}
.statistics-box_col {
	display: grid;
	width: 100%;

	grid-auto-flow: row;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	 + .statistics-box_col {
		border-left: 2px solid $bg-window;
	}
}
