.triple-input {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.triple-input-wrapper {
  position: relative;
}
.triple-input_input {
  width: 100px;
  padding-right: 30px;
  padding-left: .15em;
  border: 1px solid #4D556A;
  
  .darken & {
    background-color: #191D27;
    border: 1px solid #5E6F9F;
  }
}
.triple-input_separate {
  // margin: 0 .5em;
  right: 0;
  top: 0;
  width: 30px;
  border-left: 1px solid #4D556A;
  text-align: center;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  pointer-events: none;
  &:last-child {
    margin-right: 0;
  }
  .darken & {
    border-color: #5E6F9F;
  }
}
.labels {
  margin-left: 15px;
  margin-right: 5px;
  font-size: 16px;
  &.first {
    margin-left: 0;
  }
}