ul.switcher.d-flex
  li
    label
      input(type="radio" value="computer" v-model="source")
      span Computer
  li
    label
      input(type="radio" value="cloud" v-model="source")
      span Cloud
    
h3 Import as:
div(v-if="source === 'cloud'")
  ul.icons-group-button.d-flex
    li
      label
        input(type="radio" value="cloud-service" v-model="service")
        span
          i.icon.icon-cloud
    li
      label
        input(type="radio" value="dropbox-service" v-model="service")
        span
          i.icon.icon-dropbox-logo
    li
      label
        input(type="radio" value="g-drive-service" v-model="service")
        span
          i.icon.icon-g-drive
    li
      label
        input(type="radio" value="onedrive-service" v-model="service")
        span
          i.icon.icon-onedrive
    li
      label
        input(type="radio" value="cloud-add-service" v-model="service")
        span
          i.icon.icon-cloud-add

  ul.account-info
    li.d-flex
      span
        i.icon.icon-dropbox-logo 
        label Account: Quantum.net
      span.logout Logout
    li.d-flex.disabled
      span
        i.icon.icon-dropbox-logo 
        label Account: Quantum.net
      span.logout Logout
    li
      a(href="#")
        i.icon.icon-dropbox-logo 
        label Add account

.source-path-box.d-flex
  input(type="text" placeholder="C:/")
  button.btn.btn--dark-blue-rev(type="button")
      span Browse  