<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="Content-Security-Policy" content="-->
        <!--default-src 'self' https://quantumnet.azurewebsites.net;-->
		<!--script-src 'self' 'unsafe-inline' 'unsafe-eval';-->
		<!--img-src 'self' data:;-->
		<!--style-src 'self' 'unsafe-inline';-->
		<!--font-src 'self';">-->
    <title>PerceptiLabs</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body class="show-splashscreen">
    <div id="app"></div>
    <div id="splashscreen">
      <style>
          body.show-splashscreen {
              background-color: #27292F;
              height: 100vh;
              overflow: hidden;
          }
          #splashscreen {
              display: none;
          }
          .show-splashscreen #splashscreen {
              background: linear-gradient(343.77deg, #383F50 -1.14%, #383F50 41.05%, #23252A 103.46%);
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              z-index: 100;
          }
      </style>
      <svg width="364" height="221" viewBox="0 0 364 221" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M68.513 152.809H67.4622H63.8894H60.2747H57.1643V155.035L60.3167 155.372C60.4008 158.817 60.4008 162.304 60.4008 165.749V167.304C60.4008 170.791 60.4008 174.278 60.3167 177.682L57.1643 178.018V180.245H60.2747H67.5042H71.2031V178.018L67.4622 177.64C67.4202 174.867 67.4202 172.136 67.3781 169.741H68.555C77.634 169.741 80.7024 165.833 80.7024 161.044C80.6603 156.086 77.2137 152.809 68.513 152.809ZM68.5971 167.388H67.3361V165.707C67.3361 162.136 67.3361 158.607 67.4202 155.161H68.4289C72.0858 155.161 74.1453 157.136 74.1453 161.002C74.1453 164.825 72.3379 167.388 68.5971 167.388Z" fill="#00AAFF"/>
          <path d="M101.129 168.229C101.129 163.188 98.0189 159.406 92.5127 159.406C87.1326 159.406 81.7524 163.188 81.7524 170.162C81.7524 176.885 86.0817 180.876 92.1344 180.876C96.1695 180.876 99.1958 179.279 100.877 176.002L99.448 174.658C98.1871 175.96 96.6319 176.927 94.3621 176.927C91.4199 176.927 89.024 174.91 88.7298 170.498H100.877C101.045 169.784 101.129 169.154 101.129 168.229ZM92.3866 168.271H88.7298C88.9399 163.188 90.4531 161.549 92.0503 161.549C93.5635 161.549 94.9085 162.936 94.9085 165.667C94.9506 167.557 94.4042 168.271 92.3866 168.271Z" fill="#00AAFF"/>
          <path d="M118.069 159.447C115.967 159.447 113.571 161.254 112.437 164.909L112.058 159.909L111.344 159.447L103.147 162.22V163.859L105.711 164.237C105.795 165.918 105.837 166.758 105.837 169.069V171.506C105.837 173.27 105.837 175.833 105.795 177.85L103.484 178.312V180.245H105.711H112.563H115.799V178.312L112.479 177.598C112.437 175.581 112.437 173.144 112.437 171.464V168.691C112.899 166.632 113.992 164.783 115.253 163.607L115.505 163.943C116.514 165.245 117.48 165.876 118.741 165.876C120.423 165.876 121.6 164.657 121.684 162.472C121.347 160.414 119.876 159.447 118.069 159.447Z" fill="#00AAFF"/>
          <path d="M134.168 161.591C134.462 161.591 134.714 161.591 134.966 161.633L135.26 163.734C135.471 166.633 136.816 167.683 138.455 167.683C139.926 167.683 140.809 167.011 141.271 165.498C140.977 162.179 137.866 159.406 133.453 159.406C127.232 159.406 122.188 163.356 122.188 170.204C122.188 177.221 126.896 180.876 132.57 180.876C136.521 180.876 139.548 179.237 141.145 175.834L139.716 174.574C138.497 175.96 136.984 176.927 135.008 176.927C131.478 176.927 129.166 174.28 129.166 169.448C129.124 163.818 131.772 161.591 134.168 161.591Z" fill="#00AAFF"/>
          <path d="M162.707 168.229C162.707 163.188 159.597 159.406 154.09 159.406C148.71 159.406 143.33 163.188 143.33 170.162C143.33 176.885 147.66 180.876 153.712 180.876C157.747 180.876 160.774 179.279 162.455 176.002L161.026 174.658C159.765 175.96 158.21 176.927 155.94 176.927C152.998 176.927 150.602 174.91 150.308 170.498H162.455C162.665 169.784 162.707 169.154 162.707 168.229ZM154.006 168.271H150.35C150.56 163.188 152.073 161.549 153.67 161.549C155.183 161.549 156.528 162.936 156.528 165.667C156.528 167.557 156.024 168.271 154.006 168.271Z" fill="#00AAFF"/>
          <path d="M179.647 159.447C177.251 159.447 175.234 160.372 173.468 162.22L173.258 159.825L172.586 159.447L164.431 162.22V163.859L166.995 164.237C167.079 165.918 167.121 166.8 167.121 169.069V180.371C167.121 182.43 167.079 184.656 167.037 187.303L164.683 187.808V189.782H166.953H173.678H176.326V187.808L173.636 187.177C173.594 184.614 173.552 182.388 173.552 180.371V178.648C174.939 180.161 176.621 180.917 178.806 180.917C183.514 180.917 187.717 176.842 187.717 170.077C187.801 163.103 184.186 159.447 179.647 159.447ZM176.495 177.346C175.402 177.346 174.561 176.968 173.72 176.253V164.195C174.603 163.481 175.57 162.977 176.621 162.977C179.101 162.977 180.782 165.161 180.782 170.119C180.782 175.119 179.016 177.346 176.495 177.346Z" fill="#00AAFF"/>
          <path d="M200.83 177.473C199.569 177.473 198.686 176.59 198.686 174.616V162.893H203.1V160.078H198.728L198.812 154.238H194.567L192.465 160.078L189.397 160.457V162.935H192.087V170.918C192.087 172.557 192.045 173.649 192.045 175.12C192.045 179.237 194.273 180.918 198.014 180.918C201.04 180.918 203.016 179.699 204.108 177.599L203.1 176.59C202.259 177.179 201.586 177.473 200.83 177.473Z" fill="#00AAFF"/>
          <path d="M210.666 156.297C212.642 156.297 214.197 154.91 214.197 152.977C214.197 151.045 212.642 149.658 210.666 149.658C208.691 149.658 207.135 151.045 207.135 152.977C207.135 154.91 208.691 156.297 210.666 156.297Z" fill="#00AAFF"/>
          <path d="M214.07 177.892C214.028 175.833 214.028 173.27 214.028 171.506V165.96L214.154 159.909L213.44 159.447L204.739 162.22V163.859L207.345 164.237C207.429 165.918 207.471 167.22 207.471 169.489V171.464C207.471 173.228 207.471 175.749 207.429 177.808L205.16 178.312V180.245H207.345H214.197H216.214V178.312L214.07 177.892Z" fill="#00AAFF"/>
          <path d="M235.969 177.851H228.697C228.613 174.363 228.613 170.918 228.613 167.935V165.708C228.613 162.221 228.613 158.776 228.697 155.331L232.186 154.994V152.768H228.739H221.51H218.399V154.994L221.552 155.331C221.636 158.776 221.636 162.263 221.636 165.708V168.145C221.636 170.96 221.636 174.279 221.552 177.683L218.399 178.019V180.246H221.51H225.125H228.739H240.046L240.466 172.053H237.146L235.969 177.851Z" fill="white"/>
          <path d="M261.272 177.893C260.684 177.893 260.306 177.473 260.306 176.632V167.263C260.306 161.675 258.204 159.406 252.824 159.406C246.813 159.406 243.493 161.759 243.241 165.246C243.577 166.633 244.544 167.347 246.057 167.347C247.654 167.347 248.999 166.213 249.125 163.482L249.335 161.633C249.756 161.591 250.134 161.591 250.512 161.591C253.202 161.591 253.917 162.683 253.917 166.381V167.725C252.74 168.019 251.563 168.355 250.722 168.608C244.291 170.456 242.652 172.557 242.652 175.54C242.652 178.985 244.922 180.876 248.116 180.876C250.974 180.876 252.277 179.742 254.127 177.809C254.715 179.742 256.229 180.834 258.666 180.834C261.188 180.834 262.659 179.952 263.668 177.683L262.575 176.927C262.071 177.641 261.735 177.893 261.272 177.893ZM251.311 177.515C249.882 177.515 248.789 176.548 248.789 174.448C248.789 172.473 250.008 171.086 251.941 170.288C252.446 170.036 253.16 169.826 253.959 169.574V176.338C252.698 177.221 252.067 177.515 251.311 177.515Z" fill="white"/>
          <path d="M279.598 159.448C277.245 159.448 275.269 160.33 273.504 162.137V156.17L273.672 150.33L272.999 149.91L264.425 151.801V153.565L267.031 153.902V171.548C267.031 173.313 267.031 175.876 266.989 177.892L264.719 178.354V180.287L272.579 180.833L273.294 178.354C274.723 180.035 276.488 180.875 278.842 180.875C283.549 180.875 287.753 176.716 287.753 169.993C287.753 163.061 284.138 159.448 279.598 159.448ZM276.488 177.346C275.353 177.346 274.47 176.926 273.63 176.17V164.279C274.513 163.565 275.521 163.019 276.572 163.019C279.052 163.019 280.733 165.162 280.733 170.077C280.733 175.035 278.926 177.346 276.488 177.346Z" fill="white"/>
          <path d="M301.372 167.473L299.354 166.885C296.496 166.003 295.866 165.204 295.866 164.07C295.866 162.557 297.127 161.717 298.976 161.717C299.943 161.717 300.615 161.801 301.288 162.053L302.128 165.667H305.449L305.743 161.087C303.6 159.994 301.582 159.406 299.144 159.406C293.512 159.406 290.443 162.389 290.443 166.213C290.443 169.364 292.251 171.465 295.487 172.431L297.757 173.061C300.489 173.859 301.288 174.742 301.288 176.044C301.288 177.725 299.943 178.523 297.547 178.523C296.412 178.523 295.403 178.313 294.394 177.935L293.68 173.817H290.317L290.233 178.943C292.419 180.246 294.773 180.876 297.505 180.876C303.389 180.876 306.92 178.313 306.92 173.944C306.92 170.834 305.365 168.692 301.372 167.473Z" fill="white"/>
          <path d="M176.956 86.0475V81.4258H171.45V82.3081L167.667 86.0475H176.956Z" fill="white"/>
          <path d="M176.956 92.2242V87.7285H165.986L165.019 88.6949C165.145 89.073 165.229 89.4932 165.229 89.9133C165.229 90.7536 164.977 91.5519 164.599 92.2242H176.956Z" fill="white"/>
          <path d="M157.453 55.209V49.873H142.658C142.154 50.7974 141.691 51.7217 141.271 52.6881L141.019 53.3183C140.767 53.9485 140.514 54.5787 140.262 55.251H157.453V55.209Z" fill="white"/>
          <path d="M167.162 73.7361V68.8203H157.495L155.267 71.0471C155.393 71.4253 155.477 71.8454 155.477 72.2656C155.477 72.7697 155.393 73.2739 155.225 73.7361H167.162Z" fill="white"/>
          <path d="M191.037 73.7361H203.059C202.89 73.2739 202.806 72.7697 202.806 72.2656C202.806 71.8454 202.89 71.4253 203.017 71.0471L200.789 68.8203H191.037V73.7361Z" fill="white"/>
          <path d="M157.453 42.8975V37.2676H154.847C152.241 38.8221 149.845 40.7128 147.744 42.8975H157.453Z" fill="white"/>
          <path d="M167.162 67.5614V62.5195H161.74V64.6203L158.756 67.5614H167.162Z" fill="white"/>
          <path d="M196.123 34.7471C194.526 34.0328 192.803 33.4866 191.037 32.9824V36.7218H196.586V34.9571C196.417 34.8731 196.291 34.7891 196.123 34.7471Z" fill="white"/>
          <path d="M181.244 92.2242H193.644C193.223 91.5519 193.013 90.7536 193.013 89.9133C193.013 89.4932 193.097 89.073 193.223 88.6949L192.256 87.7285H181.286V92.2242H181.244Z" fill="white"/>
          <path d="M176.999 62.5195H171.451V67.6034H176.999V62.5195Z" fill="white"/>
          <path d="M176.999 56.1738H171.451V61.3837H176.999V56.1738Z" fill="white"/>
          <path d="M186.792 62.5195H181.244V67.6034H186.792V62.5195Z" fill="white"/>
          <path d="M176.999 37.2676H171.451V42.8975H176.999V37.2676Z" fill="white"/>
          <path d="M171.45 36.7216H176.956V31.5117C175.107 31.5537 173.257 31.7218 171.408 31.9739V36.7216H171.45Z" fill="white"/>
          <path d="M176.999 49.873H171.451V55.209H176.999V49.873Z" fill="white"/>
          <path d="M176.999 43.5703H171.451V49.0743H176.999V43.5703Z" fill="white"/>
          <path d="M149.215 98.3989H175.191C175.611 97.6426 176.2 96.9704 176.956 96.5502V94.0293H162.413C161.909 94.2394 161.362 94.3234 160.774 94.3234C160.185 94.3234 159.639 94.1974 159.135 94.0293H147.954L148.753 95.2898C149.215 96.004 149.383 96.8443 149.299 97.6846L149.215 98.3989Z" fill="white"/>
          <path d="M156.319 119.281L160.438 123.063H212.936C214.071 122.474 215.08 121.676 215.921 120.668C216.257 120.248 216.593 119.785 216.845 119.323H156.319V119.281Z" fill="white"/>
          <path d="M199.065 94.0723C198.56 94.2823 198.014 94.3664 197.426 94.3664C196.837 94.3664 196.291 94.2403 195.786 94.0723H181.201V96.5932C181.958 97.0133 182.588 97.6436 182.966 98.4418H217.181C217.559 97.6436 218.19 96.9713 219.03 96.5512L223.444 94.4924C223.696 94.3664 223.948 94.2403 224.158 94.0723H199.065Z" fill="white"/>
          <path d="M153.67 116.886H217.812C218.106 115.794 218.19 114.701 218.106 113.567L218.064 112.979H149.383L153.67 116.886Z" fill="white"/>
          <path d="M201.839 89.9553C201.839 90.7956 201.587 91.5939 201.209 92.2661H225.504C225.756 91.5098 225.756 90.6275 225.462 89.8292L224.369 87.8125H201.209C201.629 88.4007 201.839 89.157 201.839 89.9553Z" fill="white"/>
          <path d="M200.831 42.8975H207.514C205.58 40.7548 203.311 38.8221 200.873 37.2676H200.831V42.8975Z" fill="white"/>
          <path d="M211.632 72.2656C211.632 72.7697 211.548 73.2739 211.38 73.7361H216.971L216.466 68.8203H209.993C211.002 69.6186 211.632 70.8791 211.632 72.2656Z" fill="white"/>
          <path d="M200.831 62.8547L205.538 67.5604H216.341L216.004 64.1992C216.004 63.611 215.962 63.0648 215.92 62.4766H200.831V62.8547Z" fill="white"/>
          <path d="M163.211 125.625L167.204 129.238H193.979L194.567 127.81C195.029 126.717 195.954 125.919 197.047 125.625H163.211Z" fill="white"/>
          <path d="M186.792 56.1738H181.244V61.3837H186.792V56.1738Z" fill="white"/>
          <path d="M156.361 89.9543C156.361 89.156 156.571 88.3998 156.949 87.7695H144.339L144.886 89.114C144.97 89.3241 145.096 89.5762 145.222 89.7443L146.819 92.2232H157.033C156.613 91.5509 156.361 90.7946 156.361 89.9543Z" fill="white"/>
          <path d="M167.162 75.123H154.426C153.627 76.0894 152.408 76.6776 151.063 76.6776C149.718 76.6776 148.499 76.0894 147.701 75.123H139.588C139.883 76.1314 140.219 77.1398 140.597 78.1481L141.27 79.8708H167.162V75.123Z" fill="white"/>
          <path d="M170.105 131.928L173.93 135.415H191.415L192.844 131.928H170.105Z" fill="white"/>
          <path d="M147.996 106.676L147.407 110.751H217.854L217.475 106.676H147.996Z" fill="white"/>
          <path d="M157.452 62.8557V62.5195H138.622C138.411 64.2001 138.369 65.8807 138.454 67.6034H152.787L157.452 62.8557Z" fill="white"/>
          <path d="M188.893 141.592L190.238 138.23H176.998L180.655 141.592H188.893Z" fill="white"/>
          <path d="M183.934 144.533L186.624 147.012L187.632 144.533H183.934Z" fill="white"/>
          <path d="M157.453 61.3837V56.1738H139.968C139.421 57.8965 139.001 59.6191 138.749 61.3837H157.453Z" fill="white"/>
          <path d="M146.903 73.7361C146.735 73.2739 146.651 72.7697 146.651 72.2656C146.651 70.8791 147.282 69.6186 148.29 68.8203H138.497C138.623 70.4589 138.875 72.0975 139.253 73.7361H146.903Z" fill="white"/>
          <path d="M158.672 86.0475C159.302 85.7113 160.017 85.5013 160.816 85.5013C161.236 85.5013 161.656 85.5853 162.035 85.7113L166.322 81.4258H141.943L143.75 86.0475H158.672Z" fill="white"/>
          <path d="M157.453 49.0743V43.5703H147.155C145.642 45.2509 144.297 47.0996 143.162 49.0743H157.453Z" fill="white"/>
          <path d="M157.453 36.7212V35.8809C156.907 36.1329 156.36 36.4271 155.814 36.7212H157.453Z" fill="white"/>
          <path d="M196.586 49.873H191.037V55.209H196.586V49.873Z" fill="white"/>
          <path d="M196.586 37.2676H191.037V42.8975H196.586V37.2676Z" fill="white"/>
          <path d="M196.586 43.5703H191.037V49.0743H196.586V43.5703Z" fill="white"/>
          <path d="M200.831 56.1738V61.3837H215.794C215.584 59.6191 215.248 57.8965 214.785 56.1738H200.831Z" fill="white"/>
          <path d="M200.831 49.873V55.209H214.533C213.945 53.3603 213.23 51.5957 212.348 49.873H200.831Z" fill="white"/>
          <path d="M200.831 43.5703V49.0743H211.885C210.792 47.0996 209.531 45.2509 208.102 43.5703H200.831Z" fill="white"/>
          <path d="M210.582 75.123C209.784 76.0894 208.565 76.6776 207.22 76.6776C205.875 76.6776 204.656 76.0894 203.857 75.123H191.037V79.9128H220.25L217.728 75.123H210.582Z" fill="white"/>
          <path d="M177.587 104.577C175.905 103.946 174.686 102.35 174.686 100.417V100.375H148.921L148.29 104.577H177.587Z" fill="white"/>
          <path d="M183.513 100.375V100.417C183.513 102.308 182.294 103.946 180.613 104.577H217.307L216.929 100.375H183.513Z" fill="white"/>
          <path d="M191.919 81.4258L196.207 85.7113C196.585 85.5853 197.005 85.5013 197.426 85.5013C198.182 85.5013 198.939 85.7113 199.569 86.0475H223.528L221.09 81.4258H191.919Z" fill="white"/>
          <path d="M186.792 68.8203H181.244V73.7361H186.792V68.8203Z" fill="white"/>
          <path d="M196.586 56.1738H191.037V61.3837H196.586V56.1738Z" fill="white"/>
          <path d="M167.204 43.5703H161.74V49.0743H167.204V43.5703Z" fill="white"/>
          <path d="M167.163 32.6875C165.272 33.1077 163.464 33.5698 161.699 34.158V36.721H167.163V32.6875Z" fill="white"/>
          <path d="M167.204 49.873H161.74V55.209H167.204V49.873Z" fill="white"/>
          <path d="M181.244 31.5527V36.7206H186.792V32.0989C184.943 31.8048 183.093 31.6368 181.244 31.5527Z" fill="white"/>
          <path d="M186.792 43.5703H181.244V49.0743H186.792V43.5703Z" fill="white"/>
          <path d="M186.792 37.2676H181.244V42.8975H186.792V37.2676Z" fill="white"/>
          <path d="M167.204 37.2676H161.74V42.8975H167.204V37.2676Z" fill="white"/>
          <path d="M186.792 49.873H181.244V55.209H186.792V49.873Z" fill="white"/>
          <path d="M186.792 75.123H181.244V79.9128H186.792V75.123Z" fill="white"/>
          <path d="M196.586 62.5195H191.037V67.5614H199.528L196.586 64.6203V62.5195Z" fill="white"/>
          <path d="M186.792 81.4258H181.244V86.0475H190.533L186.792 82.3081V81.4258Z" fill="white"/>
          <path d="M176.999 68.8203H171.451V73.7361H176.999V68.8203Z" fill="white"/>
          <path d="M176.999 75.123H171.451V79.9128H176.999V75.123Z" fill="white"/>
          <path d="M167.204 56.1738H161.74V61.3837H167.204V56.1738Z" fill="white"/>
      </svg>
    </div>

    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
