{% from 'tf1x_utils.j2' import batch_normal, build_output_dict, check_input_vars %}
{% from 'controlflow.j2' import indented_if %}
{% from 'activations.j2' import activation_function %}


{% macro layer_tf2x_fully_connected(layer_spec, graph_spec) %}
class {{layer_spec.sanitized_name}}Keras(tf.keras.layers.Layer):
    def __init__(self):
        super().__init__()
        self._n_neurons = {{layer_spec.n_neurons}}
        self._variables = {}

    def call(self, inputs: Dict[str, tf.Tensor], is_training: bool = True) -> Dict[str, tf.Tensor]:
        """ Takes a tensor as input and feeds it forward through a layer of neurons, returning a newtensor. Invoked by the Keras framework. """
        {{ check_input_vars(layer_spec, ['input'])|indent(width=8)}}                
        input_ = inputs['input']
        
        flat_input = tf.keras.layers.Flatten()(input_)

        linear_output = tf.matmul(flat_input, self.W) + self.b
        
        {% call indented_if(layer_spec.batch_norm) %}
            {{ activation_function(layer_spec.activation, input_var='linear_output', assigned_var='preview') | indent(8) }}            	
            linear_output = tf.keras.layers.BatchNormalization()(linear_output, training=is_training)
            {{ activation_function(layer_spec.activation, input_var='linear_output', assigned_var='output') | indent(8) }}            
        {% endcall %}
        {% call indented_if(not layer_spec.batch_norm) %}
            {{ activation_function(layer_spec.activation, input_var='linear_output', assigned_var='output') | indent(8) }}
            preview = output
        {% endcall %}
        self._variables = {k: v for k, v in locals().items() if can_serialize(v)}

        {{ build_output_dict(
            'self._outputs',
            {'output': 'output', 'W': 'self.W', 'b': 'self.b', 'preview': 'preview'},
            ['output', 'preview'])|indent(width=8)
        }}
        return self._outputs

    def build(self, input_shape: Dict[str, tf.TensorShape]) -> None:
        """ Called by the Keras framework upon the first invocation of the call method
        
        Args:
            input_shape: A dictionary with layer id and its tensor shape        
        """
        flat_input_dim = np.product(input_shape['input'][1:]) # Excluding batch size
            
        self.W = self.add_weight(
            shape=(flat_input_dim, self._n_neurons),
            initializer=tf.keras.initializers.TruncatedNormal(stddev=0.1),
            dtype=tf.float32            
        )
        self.b = self.add_weight(
            shape=(self._n_neurons,),
            initializer=tf.keras.initializers.Constant(value=0.0),
            dtype=tf.float32
        )

    def get_config(self) -> Dict[str, Picklable]:
        """Any variables belonging to this layer that should be rendered in the frontend.
        
        Returns:
            A dictionary with tensor names for keys and picklable for values.
        """
        return self._variables
        


class {{layer_spec.sanitized_name}}(Tf2xLayer):
    def __init__(self):
        super().__init__(
            keras_layer={{layer_spec.sanitized_name}}Keras()
        )        
    
{% endmacro %}

